<input type="file" id="upload_file_<?=$config['index']?>">
<div class="upload-img-box cf">
	
</div>
<script type="text/javascript">
//上传图片
/* 初始化上传插件 */
$("#upload_file_<?=$config['index']?>").uploadify({
	'formData'		  :{'<?=session_name()?>':'<?=session_id()?>'},
	'multi'        : <?=$config['multi']?>,//false表示关闭多文件上传，如果需要开启需要把值设置为true
	'auto'		   : true,
	"height"          : 30,
	"swf"             : "__PLUGIN__/uploadify/uploadify.swf",
	"fileObjName"     : "download",
	"buttonText"      : "<?=$config['btn_val']?>",
	"uploader"        : "<?=U('uploadFile',array('session_id'=>session_id()))?>",
	"width"           : 120,
	'removeTimeout'	  : 1,
	//'fileTypeExts'	  : '*.jpg;*.jpeg;*.png;*.avi;*.flv;*.mp4;*.wmv;*.rm;*.rmvb;*.mov',
	'fileTypeExts'	  : '*.jpg;*.jpeg;*.png;*.flv;*.mp4;*.f4v',
	'fileSizeLimit'	  : 0,
	"onUploadSuccess" : uploadFile_<?=$config['index']?>,
	'onFallback' : function() {
		alert('未检测到兼容版本的Flash.');
	}
});
function uploadFile_<?=$config['index']?>(file, data){
	var data = $.parseJSON(data);
	var src = '';
	if(data.status){
		src = data.url || '__ROOT__/' + data.save_path;
		var name="<?=$config['name']?>";
		if(<?=$config['multi']?>){
			name="<?=$config['name']?>[]";
		}
		var str=data.name.split("."+data.ext);
		var file_data_html='名称：<input style="margin-right:10px" type="text" name="filename_'+data.id+'" value="'+str[0]+'">';
		var html='<div class="file_list">'+file_data_html+'<input type="hidden" name="'+name+'" value="'+data.id+'"/>' + data.name + '<a class="delThis" index="'+data.id+'" onclick=\'delCache_<?=$config['index']?>(this,"'+data.id+'")\'>删除</a></div>';
		if(<?=$config['multi']?>){
			$("#upload_file_<?=$config['index']?>").parent().find('.upload-img-box').append(html);
		}else{
			$("#upload_file_<?=$config['index']?>").parent().find('.upload-img-box').html(html);
		}
	}else{
		tips(data.info,1000);
	}
}

//删除已经添加到数据库的图片
function delThis_<?=$config['index']?>(obj){
	var file_id=$(obj).attr('index');
	if(confirm("确定删除吗？")){
		$.post('<?=U("ajaxDelete_".$config["table"])?>',{'file_id':file_id,'id':'<?=$id?>'},function(data){
			if(data.status==1){
				$(obj).parent().html('');
			}else{
				tips(data.info,1500);
			}
		});
	}
}
//删除临时上传的图片，也就是上传后还没有点击发布的图片
function delCache_<?=$config['index']?>(obj){
	if(confirm("确定删除吗？")){
		var temp_id=$(obj).attr('index');
		$.post("<?=U('delTempFile')?>",{id:temp_id},function(data){
			if(data.status==1){
				$(obj).parent().html('');
			}else{
				tips(data.info,1500);
			}
		})
	}
}
</script>