<div class="dialog_pay_j">
	<div class="close" data-id="cancel">x</div>
	<div class="title f_16"><span>请付款</span></div>
	<i class="fa fa-exclamation-circle pull-left"></i>
	<div style="margin:10px 0 0 120px">
		<p><b class="f_16">请在新打开的页面完成付款</b></p>
		<p>付款完成前请不要关闭此窗口。</p>
		<p>完成付款后请根据您的情况点击下面的按钮：</p>
		<p class="mt20 mb20">
			<a href="<?=U('/User/Balance/record')?>" class="btn btn-warning">已完成付款</a>
			<a href="<?=U('/Home/Help/index',array('id'=>'56'))?>" class="btn btn-warning">付款遇到问题</a>
		</p>
		<a href="#this" class="org" data-id="cancel">返回选择其他付款方式</a>
	</div>
</div>
