<extend name="Home@Public/body" />
<block name="body">
	<div class="container">
		<div class="jump_j">
			<table class="table">
				<tr>
					<td>
						<img src="__IMG__/jump_bg.jpg">
						<?php if(isset($message)) {?><?php echo($message); ?><?php }else{?><?php echo($error); ?><?php }?>页面将于（<span id="wait" class="orange"><?php echo($waitSecond); ?></span>）秒后<a id="href" href="<?php echo($jumpUrl); ?>">跳转</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
		window.close();
	};
}, 1000);
})();
</script>
</block>
