<extend name="Public/body2"/>
<block name="body">
	<div class="login-box">
		<div class="login-logo">
			<a href="#this"><b>SunRun</b>.com</a>
		</div><!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>
			<form action="" method="post">
				<div class="form-group has-feedback">
					<input type="email" class="form-control" placeholder="Email">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Password">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-7">    
						<div class="code">
							<img src="__IMG__/cd.jpg">
						</div>                        
					</div><!-- /.col -->
					<div class="col-xs-5">
						<button class="btn btn-default btn-sm btn-flat pull-right">点击更换验证码</button>
					</div><!-- /.col -->
				</div>
			</form>

			<div class="social-auth-links text-center">
				<p>- TO -</p>
				<a href="#" class="btn btn-block btn-facebook btn-flat">登录</a>
			</div><!-- /.social-auth-links -->

		</div><!-- /.login-box-body -->
	</div><!-- /.login-box -->
</block>