<!--退款请求 S-->
<div class="order_title_ZH">
	<h5><b class="blue">申请退款</b></h5>
</div>
<!-- <div class="table-responsive">
	<?php 
	if($refund_result){
	?>
	<table class="table order_b_edf5fd_ZH c_666 m_t_10">
		<tr>
			<th>原因描述</th>
			<th width="20%">描述人</th>
		</tr>
		<?php
			foreach($refund_result as $v){
		?>
		<tr>
			<td><?=$v['description']?></td>
			<td><?=$v['ask_name']?></td>
		</tr>
		<?php
			}
		?>
		<tr>
			<td colspan="3"></td>
		</tr>
	</table>
	<?php 
	}
	?>
	
</div> -->
<?php 
	if($refund_result){
?>
<div class="form-horizontal  m_tb_20">
	<?php
		foreach($refund_result as $v){
	?>
	<div class="form-group">
		<label class="col-xs-2 control-label p_t_0 p_r_0">原因描述：</label>
		<div class="col-xs-10">(<?=$v['ask_name']?>)<br/>
			<?=$v['description']?>
		</div>
	</div>
	<?php 
			if($v['files']){
	?>
	<div class="form-group">
		<label class="col-xs-2 control-label p_r_0">退款凭证：</label>
		<div class="col-xs-10">
			<div class="img_list">
				<?php 
					foreach($v['files'] as $_row){
						if(in_array($_row['filetype'],$img_type)){
				?>
				<a href="__ROOT__/<?=$_row['save_path']?>" target="_blank" ><img src="__ROOT__/<?=$_row['save_path']?>" title="<?=$_row['filename']?>" alt="<?=$_row['filename']?>" ></a>
				<?php 
						}else{
				?>
				<a href="__ROOT__/<?=$_row['save_path']?>" target="_blank" ><img src="__IMG__/file_img.jpg" title="<?=$_row['filename']?>" alt="<?=$_row['filename']?>" ></a>
				<?php 
						}
					}
				?>
				<!-- <img src="__IMG__/comments_img.jpg">
				<img src="__IMG__/comments_img.jpg"> -->
			</div>
		</div>
	</div>
	<?php
			}
		}
	?>
</div>
<?php 
	}
?>
<div class="form-horizontal  m_tb_20">
	<form action="<?=U('refund')?>" method="post" class='js_refund' >
		<input type="hidden" name="order_id" value="<?=$info['order_id']?>" >
		<div class="form-group">
			<label class="col-xs-2 control-label p_t_0 p_r_0">退款原因：</label>
			<div class="col-xs-10">
				<textarea class="textarea_style w_500" name="description"  rows="5"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label p_r_0">退款凭证：</label>
			<div class="col-xs-10">
				<div class="img_list">
					<?php
						$config=array(
							'index'		=>1,				//当前页面的第几个插件 默认为1
							'table'		=>'refund_files',			//存储信息的表格
							'table_id'  =>'refund_id',      		// 数据所在表的主键，默认为id
							'name'		=>'save_path',		// 此配置项主要用于设置表单提交时的name，非特殊情况下可以和val_key的配置值保持一致
							'val_key'	=>"save_path",		// 存储在数据表中的字段
							'multi'		=>'true',			// 是否允许多图上传，允许为true（前后需要添加引号），不允许为false（默认）
						);
						echo W("Common/File/index",array($config,$info['refund_id']));
					?>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label p_r_0"></label>
			<div class="col-xs-10">
				<p>
					<input class="btn b_org refund_btn_ZH m_tb_10 ajax-post confirm" type="submit" target-form="js_refund" value="确 定">
				</p>
			</div>
		</div>
	</form>
</div>
<!--退款请求 E-->