<extend name="Home@Public/body" />
<block name="body">
<div class="container">
	<div class="row m_t_10 m_b_10">
        <include file="Public/sidebar" />
        <div class="col-xs-9 border_gray">
            <div class="list_box_j">
            	<div class="dataset_title clearfix f_16 js_exp_top"><span>退款提示</span><i></i></div>
            	<div class="m_lr_15">
            	<!-- 新增/修改 过往经历模块 S-->            	
            		<div class="wait_box_ZH">
            			<p>您好<b class="org m_lr_5">remember娜娜</b>，您的退款已提交，请耐心等待商家确认！</p>
                        <a class="btn refundTips_btn m_t_10" href="javascript:void(0)">查看退款信息</a>
            		</div>
            	<!--the end-->
            	</div>
            </div>
        </div>
    </div>
</div>
</block>