 <div class="head_user_ZH">
    <div class="container">
            <div class="pull-left">
                <a href="<?=U('Home/Index/index')?>"><img src="__IMG__/sc_template/user/logo_nb_pic.png"></a>
                <img class="hidden-xs" src="__IMG__/sc_template/user/logo_nb_zh.jpg">
            </div>
            <div id="navbar" class="pull-right hidden-xs">
                您好，欢迎来到 <strong class="c_ff7402">N邦翻译</strong>! 请 <strong><a href="<?=U('User/Login/index')?>">登录</a></strong><i class="fa fa-phone f_18 ml_10"></i><em class="f_16 ml_10">400-800-88888</em>
            </div>
    </div>
</div>