<css href="__CSS__/user_lj.css" />
<div class="col-xs-3 fyh">
	<div class="side_bar2_j border_gray text-center">
        <!--左侧公告栏 start-->
        <ul class="newsidebarl_sw text-left">
        	<li class="f_14 f_bold"><i class="fa fa-volume-up fa-lg c_ff7302"></i>N邦公告</li>
            <li class="listdisc_sw clearfix"><p class="text-left">陈向东：跟谁学生日快乐</p><span class="c_a6a6a6 f_12">6月-21日</span></li>
            <li class="listdisc_sw clearfix"><p>陈向东：跟谁学生日快乐</p><span class="c_a6a6a6 f_12">6月-21日</span></li>
            <li class="listdisc_sw clearfix"><p>陈向东：跟谁学生日快乐</p><span class="c_a6a6a6 f_12">6月-21日</span></li>
            <li class="listdisc_sw clearfix"><p>陈向东：跟谁学生日快乐</p><span class="c_a6a6a6 f_12">6月-21日</span></li>
            <li class="listdisc_sw clearfix"><p>陈向东：跟谁学生日快乐</p><span class="c_a6a6a6 f_12">6月-21日</span></li>
            <li class="listdisc_sw clearfix"><p>陈向东：跟谁学生日快乐</p><span class="c_a6a6a6 f_12">6月-21日</span></li>
            <li class="listdisc_sw clearfix"><p>陈向东：跟谁学生日快乐</p><span class="c_a6a6a6 f_12">6月-21日</span></li>
            <li class="listdisc_sw clearfix"><p>陈向东：跟谁学生日快乐生日快乐生日快乐生日快乐生日快乐生日快乐</p><span class="c_a6a6a6 f_12">6月-21日</span></li>
        </ul>
        <!--end -->
        <!-- 联系我们 start -->
        <div class="callme_sw text-left clearfix">
            <h4 class="f_14 c_464646">联系我们</h4>
            <div class="clearfix probl_sw">
                <p>如果您在平台遇到问题或者对我们有任何建议，请及时与我们联系</p>
                <img src="__IMG__/leftpic_nb.jpg">
            </div>
            <img class="newsph_sw" src="__IMG__/newsph_nb.jpg">
            <div class="phnumb_sw">
                <h5 class="f_14">服务咨询热线</h5>
                <i class="f_24 c_ff0000">800-820-8820</i>
            </div>
        </div>
        <!-- end -->
        <!-- 微信 start -->
        <div class="nbweixin_sw text-left">
            <img src="__IMG__/weixin2_nb.jpg">
            <div><span><i class="fa fa-weixin fa-2x c_8fdd3b"></i>官方微信</span><p>N邦翻译为公司和个人译者提供一个宣传自己的平台</p></div>
        </div>
        <!-- end -->
    </div>
</div>
<!--end -->