<extend name="Home@Public/body"/>
<block name="body">
<!--忘记密码-->
<div class="container">
	<div class="row">
		<div class="col-xs-7">
			<div class="b_fff p_ZH">
				<div style="border:1px solid #ddd;padding-bottom: 50px;">
					<div class="border_ZH">
						<span class="putt-left f_16">您正在找回账号 <b><?=$info['username']?></b> 的<?=intval(I("get.type"))==2?'交易':'登录'?>密码 <a href="<?=U('User/Forgetpassword/index')?>">[换一个账号]</a></span>
					</div>
					<div class="row tab_ZH">
						<!-- <div class="col-xs-12 col-sm-4 col-md-4 li_ZH"><i>01.</i>选择找回方式</div>
						<div class="col-xs-12 col-sm-4 col-md-4 li_ZH cur"><i>02.</i>进行安全验证</div>
						<div class="col-xs-12 col-sm-4 col-md-4 li_ZH"><i>03.</i>设置新密码</div> -->
						<div class="col-xs-6 li_ZH cur"><i>01.</i>进行安全验证</div>
						<div class="col-xs-6 li_ZH"><i>02.</i>设置新密码</div>
					</div>
					<div class="row tab_ZH zoom1_sw">
						<div class="col-xs-2 p_r_0 icon_ZH display_tab">
							<span style="margin-top: 5px;">
								<!--手机 S-->
								<i class="fa fa-mobile"></i>
								<!--手机 E-->
								<!--邮件 S-->
								<!-- <i class="fa fa-envelope"></i> -->
								<!--邮件 E-->
							</span>
						</div>
						<div class="col-xs-6"><h4 class="display_tab lh_24 " id='js_register_pop'>
							<?php
								if($type==1){
									echo '手机验证：'.$info['telephone'];
								}else if($type==2){
									echo '邮箱验证：'.$info['email'];
								}
							?>
						</h4></div>
						<div class="col-xs-4">
							<input class="btnyz_ZH display_tab" type="button" onclick='get_code(this)' value="获取验证码" style="margin-top: 5px;">
						</div>
					</div>
					<form action='<?=U('User/Forgetpassword/third')?>' method='post'>
					<div class="row m_tb_20">
						<div class="col-xs-3 text-right lineH_zh p_r_0">验证码：</div>
						<div class="col-xs-9">
							<input class="input_ZH" type="text" datatype="e" placeholder="请输入验证码" name='code'>
							<span class="Validform_checktip"></span>
						</div>
					</div>
					<div class="row m_tb_20 overhiden_sw">
						<div class="col-xs-9 col-xs-offset-3">
							<input class="r_btn_ZH" type="submit" value="下一步">
							<!-- <p class="m_t_20 f_12"><a href="<?=U('User/Forgetpassword/index2')?>">选择其它找回方式 》</a></p> -->
						</div>
					</div>
					</form>
					
					<!--点击下一步的样式,此为隐藏样式-->
					<div class="media" style="margin:0 15px;display:none">
				    	<div class="media-left">
					  		<img class="media-object" src="__IMG__/icon_e_ZH.png">
				  		</div>
				  		<div class="media-body">
							<p>我们已向您的注册邮箱31*****7@qq.com发送了一封密码找回邮件，请您注意<a href="javascript:void(0)">查收邮件！</a></p>
							<p class="f_12 c_999">
							请您注意查收邮件，并按照邮件中提示的操作，完成安全验证。没有收到邮件？<a href="javascript:void(0)">重新发送</a>或者<a href="javascript:void(0)">选择其他方式找回</a>
				  			</p>
				  		</div>
					</div>
					<!--the end-->
				</div>
			</div>	
		</div>
		<div class="col-xs-5 reset_ZH">
			<img src="__IMG__/sc_template/user/fpwd_bg.jpg">
			<!-- <ul>
					<li class="clearfix">
						<div class="pull-left icon_ZH">
							<i class="fc fc-duanpai"></i>
						</div>
						<div class="pull-right w_300_ZH">
							<h3 class="c_ff7302">安全可靠</h3>
							<p>银行系统级安全连接，短信身份验证机制以及分布式离线钱包备份机制；专业化公司运作，第三方银行资金监管确保资金安全</p>
						</div>
					</li>
					<li class="clearfix">
						<div class="pull-left icon_ZH">
							<i class="fc fc-naozhong"></i>
						</div>
						<div class="pull-right w_300_ZH">
							<h3 class="c_ff7302">高效便捷</h3>
							<p>人民币账户提现时间9：00—17:30；N帮提现时间：9：00—17:30</p>
						</div>
					</li>
					<li class="clearfix">
						<div class="pull-left icon_ZH">
							<i class="fc fc-qiandai"></i>
						</div>
						<div class="pull-right w_300_ZH">
							<h3 class="c_ff7302">0费率</h3>
							<p>网银，普通汇款充值免手续费；免收交易手续费，全面为用户考虑</p>
						</div>
					</li>
					<li class="clearfix">
						<div class="pull-left icon_ZH">
							<i class="fc fc-fuwu"></i>
						</div>
						<div class="pull-right w_300_ZH">
							<h3 class="c_ff7302">专业服务</h3>
							<p>7*24 400电话服务，7*24在线企业客服VIP客户一对一免费专业咨询师服务</p>
						</div>
					</li>
				</ul> -->	
		</div>
	</div>
</div>
<script>
	$(function(){
		if($(window).width()<768){
				$(".lineH_zh").addClass("text-left").removeClass("text-right"); 
				}else{
					$(".lineH_zh").addClass("text-right").removeClass("text-left");
				}		
		$(window).resize(function() {
			if($(window).width()<768){
				$(".lineH_zh").addClass("text-left").removeClass("text-right");
				}else{
					$(".lineH_zh").addClass("text-right").removeClass("text-left");
				}
			});
		});
		$(".js_registerform").Validform({tiptype:3});
		//用于发送验证码计时的函数，在下面的函数中用到
		function code_countdown(obj){
			$(obj).prop("disabled",true).css("cursor","text");
			var time=60;
			var cur=$(obj);
			cur.val(time+"秒后重新获取");
			function coutdown(){
				time--;	
				cur.val(time+"秒后重新获取");
				if(time<=0){
					clearInterval(s);
					cur.prop("disabled",false).css("cursor","pointer");
					cur.val("点击重新获取");
				}	
			}
			var s=setInterval(coutdown,1000);
		}
		//发送验证码
		var code_send=true;
		function get_code(obj){
			var account = <?=I('get.type')?>;
			if(code_send){
				$.post('<?=U('/User/Forgetpassword/registerCode')?>',{account:account},function(data){
					alert(data.info);
				  if(data.status){
					code_send=true;
					code_countdown(obj);
				  }else{
					$('#valid_resulte').addClass('Validform_wrong').text(data.info);
					code_send=true;
				  }
				});
			}
		}
</script>
</block>