/*
 * Skin: Blue
 * ----------
 */
.skin-gray .main-header .navbar {
  background-color: #3c8dbc;
}
.skin-gray .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-gray .main-header .navbar .nav > li > a:hover,
.skin-gray .main-header .navbar .nav > li > a:active,
.skin-gray .main-header .navbar .nav > li > a:focus,
.skin-gray .main-header .navbar .nav .open > a,
.skin-gray .main-header .navbar .nav .open > a:hover,
.skin-gray .main-header .navbar .nav .open > a:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-gray .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-gray .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-gray .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-gray .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-gray .main-header .navbar .dropdown-menu li.divider {
  background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-gray .main-header .navbar .dropdown-menu li a {
  color: #fff;
  }
  .skin-gray .main-header .navbar .dropdown-menu li a:hover {
  background: #367fa9;
  }
}
.skin-gray .main-header .logo {
  background-color: #194574;
  color: #ffffff;
  border-bottom: 0px solid transparent;
}
.skin-gray .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-gray .content-header {
  background: transparent;
}

.navbar{ position:relative;}
.topbar-toggle{ display:none;}
.topbar-toggle:before{ content: "\f0c9";}
.nav_box{ height:50px; line-height:50px;font-family:"Microsoft YaHei"; display:block; float:left;}
.nav_box a {cursor:pointer;display: block;float: left;color: #bcd9f8;padding: 0 20px;}
.nav_box a:hover, .nav_box a.cur {color: #fff;background: #3a80a7;}
@media(max-width:990px){
  .nav_box{
    display:none;
  }
  .topbar-toggle{
    display:block;
  }
  .collapse.nav_box{
    position:absolute;
    top:50px;
    width:100%;
    background:#3c8dbc;
  }
  .collapse a{
    float:none;
    background-color:#3c8dbc;
  }
}

.skin-gray .wrapper,
.skin-gray .main-sidebar,
.skin-gray .left-side {
  background-color: #f4f4f4;
}
.skin-gray .sidebar-menu {
  border-top:1px solid #dedede;
  border-bottom:1px solid #fff;
}
.skin-gray .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  border-top:1px solid #fff;
  border-bottom:1px solid #dedede;
}
.skin-gray .sidebar-menu > li:hover > a,
.skin-gray .sidebar-menu > li.active > a {
  color: #333;
  border-left-color: #3c8dbc;
  background:#f4f4f4;
}
.skin-gray .sidebar-menu > li > .treeview-menu {
  background: #fafafa;
}
.skin-gray .sidebar a {
  color: #999;
}
.skin-gray .sidebar a:hover {
  text-decoration: none;
}
.skin-gray .treeview-menu > li > a {
  margin:0 1px;
  color: #8aa4af;
}
.skin-gray .treeview-menu > li.active > a,
.skin-gray .treeview-menu > li > a:hover {
  color: #333;
}
.skin-gray .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-gray .sidebar-form input[type="text"],
.skin-gray .sidebar-form .btn {
  box-shadow: none;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-gray .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-gray .sidebar-form input[type="text"]:focus,
.skin-gray .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-gray .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-gray .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}
.skin-gray.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0px solid transparent;
}
.skin-gray.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

/*glyphicons*/
.bs-glyphicons {
  padding-left: 0;
  padding-bottom: 1px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
}
.bs-glyphicons li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  margin: 0 -1px -1px 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #ddd;
}
.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; /* Help out IE10+ with class names */
}
.bs-glyphicons li:hover {
  background-color: rgba(86,61,124,.1);
}

@media (min-width: 768px) {
  .bs-glyphicons li {
    width: 12.5%;
  }
}

.pages a{
  display: inline-block;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

body{ font-family: "Microsoft YaHei"}

.code img{
  max-height: 30px;
}