input,select{
    outline: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.breadcrumb{
    border-radius: 0;
    background-color: transparent;
    font: 12px/20px 'microsoft yahei';
    color: #999;
}
.breadcrumb i{
    padding-right: 5px;
    font-size: 16px;
    color: #adadad;
}
.breadcrumb a{
    color: #999;
}
.reg_title{
    padding: 0 15px;
    margin-bottom: 50px;
    font: bold 26px/30px 'microsoft yahei';
    color: #56bf9b;
}
.reg_title span{
    font: normal 26px/30px 'ו';
    color: #dadada;
}
.reg_title small{
    font: bold 26px/30px 'Arial';
    color: #f99b47;
}
.reg_description{
    padding: 0 15px 10px 15px;
    border-bottom: solid 1px #d3d3d3;
    margin-bottom: 60px;
    background: url(../img/reg_title.png) right 50px no-repeat;
}
.reg_description .reg_sub_title{
    margin: 0;
    font: 24px/48px 'microsoft yahei';
    color: #333;
}
.reg_light{
    color: #30aa81;
}
.red{
    margin-left: 10px;
    color: #f00;
}
.reg_lan_desc{
    font: 18px/20px 'Arial';
    color: #30aa81;
}
.reg_lan_desc span{
    display: block;
    font-size: 12px;
}
.reg_lan_desc .line{
    display: block;
    width: 70px;
    height: 3px;
    margin-top: 10px;
    background-color: #56bf9b;
}
.reg_notice{
    margin-top: 40px;
    font: 14px/20px 'microsoft yahei';
    color: #666;
}
.reg_form_notice{
    font: 12px/20px 'microsoft yahei';
    color: #999;
}
.reg_form{
    border-right: dotted 1px #b7b7b7;
}
.reg_form .input{
    min-width: 190px;
    border: solid 1px #ccc;
    margin-right: 5px;
    padding: 4px 5px;
    line-height: 16px;
}
.select{
    min-width: 93px;
    border: solid 1px #ccc;
    padding: 3px 5px;
}
.reg_form .control-label{
    padding-top: 0;
    font: 14px/26px 'microsoft yahei';
    color: #666;
}
.reg_form .verify_code{
    display: inline-block;
    margin-left: 10px;
    font: 14px/26px 'microsoft yahei';
    color: #56bf9b;
    text-decoration: none;
}
.reg_form .verify_code:hover{
    color: #50b390;
}
.reg_protocol{
    font: 12px/20px 'microsoft yahei';
}
.reg_protocol .protocol{
    color: #56bf9b;
}
.btn_submit{
    margin-bottom: 10px;
    padding: 5px 30px;
    border-radius: 0;
    background: #56bf9b;
    color: #fff;
}
.btn_submit:hover{
    background: #50b390;
    color: #fff;
}
.btn_cancel{
    margin-bottom: 10px;
    padding: 5px 30px;
    border-radius: 0;
    background: #dcdcdc;
    color: #444;
}
.btn_cancel:hover{
    background: #cfcfcf;
    color: #444;
}
/* @media (max-width: 990px) {
    .reg_form{
        border-right: 0;
    }
} */
.vip_ensure h4{
    margin: 0;
    font: 26px/36px 'Arial';
}
.vip_ensure h3{
    margin: 0 0 40px 0;
    font: 30px/36px 'microsoft yahei';
}
.vip_service li{
    font: 14px/30px 'microsoft yahei';
}
.vip_service li span{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border-radius: 50%;
    background: #56bf9b;
    font: 12px/18px 'microsoft yahei';
    text-align: center;
    color: #fff;
}
.vip_service li a{
    color: #56bf9b;
    text-decoration: none;
}
.vip_service li a:hover{
   color: #50b390;
}