<extend name="Home@Public/body"/>
<block name="body">
	<js href="__PLUGIN__/echarts-all.js" />
	<div class="container">
		<div class="row m_t_10 m_b_10">
			<include file="Public/sidebar" />
			<div class="col-xs-9 border_gray">
				<div class="list_box_j">
                    <div class="dataset_title clearfix f_16 js_exp_top mt_20"><span>我的脚印</span><i></i></div>
					<div class="m_lr_15">
            		<!-- 新增/修改 我是卖家模块 S-->
                        <!-- 我的足迹-S -->
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="track_box_ZH">
                                    <img class="img-circle track_icon" src="__IMG__/sc_template/user/track_icon_1.png">
                                    <div class="mt_20 text-center f_14">我在N邦翻译有<b class="org">5678910</b>元的交易往来</div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="track_box_ZH">
                                    <img class="img-circle track_icon" src="__IMG__/sc_template/user/track_icon_2.png">
                                    <div class="mt_20 text-center f_14">N邦翻译为我提供了<b class="org">54879529</b>字的笔译翻译</div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="track_box_ZH">
                                    <img class="img-circle track_icon" src="__IMG__/sc_template/user/track_icon_3.png">
                                    <div class="mt_20 text-center f_14">N邦翻译为我提供了<b class="org">518</b>小时的口译翻译</div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="track_box_ZH">
                                    <img class="img-circle track_icon" src="__IMG__/sc_template/user/track_icon_4.png">
                                    <div class="mt_20 text-center f_14">N邦翻译为我提供了<b class="org">54874</b>分钟的音频翻译</div>
                                </div>
                            </div>
                        </div>
                        <!-- 我的足迹-E -->
					<!--the end-->
					</div>
				</div>
			</div>
		</div>
	</div>
</block>

