<extend name="Home@Public/body"/>
<block name="body">
    <div class="container">
        <div class="row m_t_10 m_b_10">
            <include file="Public/sidebar" />
            <div class="col-xs-9 border_gray">
                <div class="list_box_j">
                    <div class="dataset_title f_16"><span>修改密码</span><i></i></div>
                    <div class="m_lr_15">
                        <!-- 密码修改-开始 -->
                        <a class="<?=I('type')==1?'link_sw':'active_sw'?> f_14 f_w " href="<?=U('User/ChangePassword/index',array('type'=>0))?>">登录密码</a>
                        <a class="<?=I('type')==1?'active_sw':'link_sw'?> f_14 f_w " href="<?=U('User/ChangePassword/index',array('type'=>1))?>">交易密码</a>
                        <form class=" demo_form_sw form-horizontal sale_form_sw ajax_form" action='<?=U('index')?>' method='post'>
							<input type='hidden' name='type' value='<?=I('type')?>' id='js_table_change_LH' dealPassword=<?=$dealPassword?>/>
							<?php
								if(I('type')==0 || $dealPassword==1){
							?>
                            <div class="form-group border_sw">
                                <label class="salelabel_sw f_w">旧密码<span class="change_color c_ff7402">*</span></label>
                                <!-- 提示密码是否正确S -->
                                <div class="padding_sw">
		                            <input class="form-control input_sw"  type="password" value="" name="oldPassword" nullmsg="请输入密码" ajaxurl="<?=U('User/ChangePassword/checkForm')?>" datatype="*6-15" errormsg="密码不正确">
		                            <span class="Validform_checktip"></span>
		                        </div>
		                         <!-- 提示密码是否正确E -->
		                         <!--  
                                <div class="padding_sw">
                                    <input class="form-control input_sw" type="password" name='oldPassword'>
                                </div>-->
                            </div>
							<?php
								}
							?>
                            <div class="form-group border_sw">
                                <label class="salelabel_sw f_w"><?=$dealPassword==1?'新':''?>密码<span class="change_color c_ff7402">*</span></label>
                                <div class="padding_sw">
                                    <input class="form-control input_sw" type="password" name='password' datatype="*6-15" errormsg="密码范围在6~15位之间！" placeholder="6-15位字符">
									<span class="Validform_checktip"></span>
                                </div>
                            </div>   
                            <div class="form-group border_sw border_btom_sw">
                                <label class="salelabel_sw f_w">确认<?=$dealPassword==1?'新':''?>密码<span class="change_color c_ff7402">*</span></label>
                                <div class="padding_sw">
                                    <input class="form-control input_sw" type="password" name='confirmPassword' datatype="*6-16" recheck="password"errormsg="您两次输入的账号密码不一致！" placeholder="确认您的密码">
									<span class="Validform_checktip"></span>
                                </div>
                            </div>           
                            <div class="form-group">
                                <div class="form-group zoom1_sw">
                                    <div class="col-xs-offset-3">
                                        <input class="btn pswbtn_add_sw btn_add_sw ajax-post" target-form="ajax_form" type="submit" value="确认修改">
										<?php
										  if(intval(I("type"))==1){
										     $ftype=2;
										  }else{
										     $ftype=0;
										  }
										?>
										<a href="<?=U('User/Forgetpassword/index',array("type"=>$ftype))?>" target="_blank" style="font-size:14px;margin-left:10px">忘记密码？</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="tips_sw">
                            <h4 class="c_138fcb">安全须知：</h4>
                            <ul class="tips_cont_sw f_w">
                                <li>1、为提高账号安全性为提高账号安全性为提高账号安全性为提高账号安全性为提高账号安全性为提高账号安全性高账号安全性为提高账高账号安全性为提高账高账号安全性为提高账</li>
                                <li>2、在公共场合登录账号时在公共场合登录账号时在公共场合登录账号时在公共场合登录账号时在公共场合登录账号时高账号安全性为提高账高账号安全性为提高账高账号安全性为提高账</li>
                                <li>3、为了您的账号安全，请谨防为了您的账号安全，请谨防为了您的账号安全，请谨防为了您的账号安全，请谨防为了您的账号安全，请谨防高账号安全性为提高账高账号安全性为提高账高账号安全性为提高账</li>
                            </ul>
                        </div>
                        <!-- 密码修改-结束 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script>
		 $(function(){
            //表单验证
            $(".demo_form_sw").Validform({tiptype:3});
        })
	</script>
</block>