<block name="head_change"></block>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<script>
var _ROOT_='__ROOT__';
var _STATIC_='__STATIC__';
var _PLUGIN_='__PLUGIN__';
var _JS_='__JS__';
var _IMG_='__IMG__';
var _CSS_='__CSS__';
</script>
<css href="__CSS__/bootstrap.min.css"/>
<css href="__CSS__/font-awesome.min.css"/>
<css href="__CSS__/common.css" />
<css href="__CSS__/wapApp.css" />
<css href="__CSS__/iconfont.css"/>
<js href="__JS__/jquery.min.js"/>
<js href="__JS__/bootstrap.min.js"/>
<js href="__JS__/TouchSlide.1.1.js"/>
<js href="__JS__/common.js"/>
<block name="style"></block>
<block name="script"></block>