<extend name="Home@Public/body_wap"/>
<block name="style"></block>
<block name="body">
    <!--订单信息 S-->
    <div class="order_info_yqc mb10">
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left">订单名称：</h5>
            <em>源语言：中文&nbsp;&nbsp;目标语言：意大利文</em>
        </div>
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left">订单字数：</h5>
            <em>2000字</em>
        </div>
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left">回稿排版格式：</h5>
            <em>段落对照</em>
        </div>
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left">文档用途：</h5>
            <em>专业论文</em>
        </div>
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left">专业领域：</h5>
            <em>金融贸易</em>
        </div>
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left">需求备注：</h5>
            <em>请认真翻译哟，老总要求很严格。尽量在这周五之前给我，谢谢~~</em>
        </div>
        <div class="oppose_box clearfix f14">
            <div class="divide_box"><i class="blue"></i>附件（1个）</div>
            <div class="divide_box"><i class="blue"></i>需要提供发票</div>
        </div>
    </div>
    <!--订单信息 E-->
    <!--翻译信息 S-->
    <div class="translate_info_yqc mt10 mb10">
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left">翻译难度：</h5>
            <em class="blue">困难</em>
        </div>
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left time_title">预约时间：</h5>
            <div class="mark_time f12">
                <p>开始时间：2015年6月18日  16:16</p>
                <p>结束时间：2015年6月18日  16:16</p>
            </div>
        </div>
    </div>
    <div class="translate_info_yqc mt10 mb10">
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left">翻译难度：</h5>
            <em class="red f12">商家正在为您评估，请耐心等待</em>
        </div>
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left">预约时间：</h5>
            <div class="mark_time red f12">商家正在为您安排时间，请耐心等待</div>
        </div>
    </div>
    <!--翻译信息 E-->
    <!--订单总价 S-->
    <div class="order_price_yqc mt10 mb10">
        <div class="oppose_box clearfix f14">
            <h5 class="pull-left">订单总价：</h5>
            <em class="org">899元</em><a href="javascript:;"><i></i></a>
        </div>
    </div>
    <!--订单总价 E-->
    <!--提交订单 S-->
    <div class="order_submit_yqc">
        <input type="submit" class="btn btn_submit" value="提交订单">
        <input type="submit" class="btn btn_submit disabled" disabled value="等待商家确认订单">
    </div>
    <!--提交订单 E-->
</block>