<extend name="Home@Public/body_wap"/>
<block name="style">
<style>body{background: #fff;}</style>
</block>
<block name="body">
    <!--等待翻译 S-->
    <div class="wait_translate_yqc">
        <h5 class="order_status f16"><i class="fa fa-check-circle"></i>付款成功</h5>
        <img src="__IMG__/sc_template/app/waiter.png" class="waiter"/>
        <p class="order_tips f14">您的订单已生成我们正在认真的翻译中请耐心等待！</p>
        <!--查看订单详情 S-->
        <div class="order_submit_yqc">
            <input type="submit" class="btn btn_submit" value="查看订单详情">
        </div>
        <!--查看订单详情 E-->
    </div>
    <!--等待翻译 E-->
</block>