<extend name="Home@Public/body_wap"/>
<block name="style"></block>
<block name="body">
    <!--公司头部 S-->
    <div class="flow_top_yqc clearfix">
        <div class="pull-left flow_top_img">
            <img src="__IMG__/sc_template/app/pic_app.png"/>
        </div>
        <div class="flow_top_info clearfix">
            <div class="pull-left f_t_main f14">
                <div class="f_t_title"><a href="#">乐享国际翻译公司<i class="lv"></i><span>八级</span></a></div>
                <div class="f_t_identify">
                    <span class="mr10"><i class="fc fc-person"></i>身份认证</span>
                    <span class="mr10"><i class="fc fc-qualify"></i>资质认证</span>
                </div>
            </div>
            <div class="pull-right f_t_social">
                <a href="#"><i class="fa fa-star"></i>收藏</a>
                <a href="#"><i class="fa fa-share-alt"></i>分享</a>
            </div>
        </div>
    </div>
    <!--公司头部 E-->
    <!--选择语言 S-->
    <div class="lang_transform_yqc mt10 mb10">
        <div class="src_box">
            <div class="js_collapse_ctrl oppose_box clearfix ta_r f14">
                <h5 class="pull-left">源语言：</h5>
                <span>请选择源语言</span><a href="javascript:;"><i class="fa fa-caret-right"></i></a>
            </div>
            <div class="js_collapse_box collapse_box clearfix">
                <div id="js_src_char_list" class="pull-right char_list">
                    <span>A</span><span>B</span><span>C</span>
                    <span>D</span><span>E</span><span>F</span>
                    <span>G</span><span>H</span><span>I</span>
                    <span>J</span><span>K</span><span>L</span>
                    <span>M</span><span>N</span><span>O</span>
                    <span>P</span><span>Q</span><span>R</span>
                    <span>S</span><span>T</span><span>U</span>
                    <span>V</span><span>W</span><span>X</span>
                    <span>Y</span><span>Z</span>
                </div>
                <div id="js_src_lang_list" class="lang_out_box">
                    <dl class="lang_box">
                    <dt>A</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                        <p><a href="javascript:;">阿拉伯</a></p>
                        <p><a href="javascript:;">阿拉伯</a></p>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>B</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                        <p><a href="javascript:;">阿拉伯</a></p>
                        <p><a href="javascript:;">阿拉伯</a></p>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>C</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>D</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>E</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>F</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>G</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>H</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>I</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>J</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>K</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>L</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>M</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>N</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>O</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>P</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>Q</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>R</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>S</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>T</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>U</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>V</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>W</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>X</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>Y</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                    <dt>Z</dt>
                    <dd>
                        <p><a href="javascript:;">阿拉伯</a></p>
                    </dd>
                </dl>
                </div>
            </div>
        </div>
        <div class="target_box">
            <div class="js_collapse_ctrl oppose_box clearfix ta_r f14">
                <h5 class="pull-left">目标语言：</h5>
                <span>请选择目标语言</span><a href="javascript:;"><i class="fa fa-caret-right"></i></a>
            </div>
            <div class="js_collapse_box collapse_box clearfix">
                <div id="js_tar_char_list" class="pull-right char_list">
                    <span>A</span><span>B</span><span>C</span>
                    <span>D</span><span>E</span><span>F</span>
                    <span>G</span><span>H</span><span>I</span>
                    <span>J</span><span>K</span><span>L</span>
                    <span>M</span><span>N</span><span>O</span>
                    <span>P</span><span>Q</span><span>R</span>
                    <span>S</span><span>T</span><span>U</span>
                    <span>V</span><span>W</span><span>X</span>
                    <span>Y</span><span>Z</span>
                </div>
                <div id="js_tar_lang_list" class="lang_out_box">
                    <dl class="lang_box">
                        <dt>A</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                            <p><a href="javascript:;">阿拉伯</a></p>
                            <p><a href="javascript:;">阿拉伯</a></p>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>B</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                            <p><a href="javascript:;">阿拉伯</a></p>
                            <p><a href="javascript:;">阿拉伯</a></p>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>C</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>D</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>E</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>F</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>G</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>H</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>I</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>J</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>K</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>L</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>M</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>N</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>O</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>P</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>Q</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>R</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>S</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>T</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>U</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>V</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>W</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>X</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>Y</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                        <dt>Z</dt>
                        <dd>
                            <p><a href="javascript:;">阿拉伯</a></p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!--选择语言 E-->
    <!--填写字数 S-->
    <div class="file_count_yqc mt10 mb10">
        <div class="oppose_box clearfix ta_r f14">
            <h5 class="pull-left">填写字数：</h5>
            <a href="javascript:;" class="minus js_minus"><i class="fa fa-minus"></i></a>
            <span class="input_box"><input type="text" class="js_count_box"></span>
            <a href="javascript:;" data-max="50" class="plus active js_plus"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <!--填写字数 E-->
    <!--文档用途 S-->
    <div class="file_type_yqc mt10 mb10">
        <div class="js_collapse_ctrl oppose_box clearfix ta_r f14">
            <h5 class="pull-left">文档用途：</h5>
            <span>请选择文档用途</span>
            <a href="javascript:;"><i class="fa fa-caret-right"></i></a>
        </div>
        <div class="js_collapse_box collapse_box">
            <div class="oppose_box item active clearfix ta_r f14">
                <h5 class="pull-left">专业论文</h5>
                <a href="javascript:;"><i class="fa fa-check"></i></a>
            </div>
            <div class="oppose_box item clearfix ta_r f14">
                <h5 class="pull-left">简介简历</h5>
                <a href="javascript:;"><i class="fa fa-check"></i></a>
            </div>
            <div class="oppose_box item clearfix ta_r f14">
                <h5 class="pull-left">合同标书</h5>
                <a href="javascript:;"><i class="fa fa-check"></i></a>
            </div>
            <div class="oppose_box item clearfix ta_r f14">
                <h5 class="pull-left">留学移民</h5>
                <a href="javascript:;"><i class="fa fa-check"></i></a>
            </div>
            <div class="oppose_box clearfix ta_r f14">
                <h5 class="pull-left">更多</h5>
                <span class="input_box"><input type="text" class="more_file" placeholder="请输入"></span>
            </div>
        </div>
    </div>
    <!--文档用途 E-->
    <!--专业领域 S-->
    <div class="profession_yqc mt10 mb10">
        <div class="js_collapse_ctrl oppose_box clearfix ta_r f14">
            <h5 class="pull-left">专业领域：</h5>
            <span>请选择专业领域</span><a href="javascript:;"><i class="fa fa-caret-right"></i></a>
        </div>
        <div class="js_collapse_box collapse_box">
            <div class="oppose_box item active clearfix ta_r f14">
                <h5 class="pull-left">专业论文</h5>
                <a href="javascript:;"><i class="fa fa-check"></i></a>
            </div>
            <div class="oppose_box item clearfix ta_r f14">
                <h5 class="pull-left">简介简历</h5>
                <a href="javascript:;"><i class="fa fa-check"></i></a>
            </div>
            <div class="oppose_box item clearfix ta_r f14">
                <h5 class="pull-left">合同标书</h5>
                <a href="javascript:;"><i class="fa fa-check"></i></a>
            </div>
            <div class="oppose_box item clearfix ta_r f14">
                <h5 class="pull-left">留学移民</h5>
                <a href="javascript:;"><i class="fa fa-check"></i></a>
            </div>
            <div class="oppose_box clearfix ta_r f14">
                <h5 class="pull-left">更多</h5>
                <span class="input_box"><input type="text" class="more_file" placeholder="请输入"></span>
            </div>
        </div>
    </div>
    <!--专业领域 E-->
    <!--需求备注 S-->
    <div class="remark_yqc mt10 mb10">
        <div class="oppose_box clearfix ta_r f14">
            <h5 class="pull-left">需求备注：</h5>
            <textarea class="full_txtarea f14" placeholder="需求建议为建议填写，帮助我们选择合适的译员和理解您的需求,以获取更佳的翻译质量"></textarea>
        </div>
    </div>
    <!--需求备注 E-->
    <!--上传文件 S-->
    <div class="upload_file_yqc mt10 mb10">
        <div class="oppose_box clearfix ta_r f14">
            <h5 class="pull-left">上传文件：<input type="button" class="btn btn_upload" value="点击上传" /></h5>
            <p class="access_file">请上传doc、docx、txt、pdf、rar、zip、png、jpg、gif格式的文件，文件大小在100M以内。</p>
        </div>
    </div>
    <!--上传文件 E-->
    <!--是否提供发票 S-->
    <div class="invoice_yqc mt10 mb10">
        <div class="js_circle_ctrl oppose_box clearfix ta_r f14">
            <h5 class="pull-left">是否提供发票：</h5>
            <i class="fa fa-circle-thin f20"></i>
        </div>
        <div class="js_circle_box address_box clearfix">
            <div class="pull-left location_icon"><i class=""></i></div>
            <div class="pull-right change_address"><a href="#"><i class="fa fa-angle-right"></i></a></div>
            <div class="cur_address f14">尚软科技公司 李长城 12313213123<br>湖北省武汉市洪山区珞喻路新都汇2701室<br>430000</div>
        </div>
    </div>
    <!--是否提供发票 E-->
    <!--保密协议 S-->
    <div class="protocol_yqc mt10 mb10">
        <div class="js_circle_ctrl oppose_box clearfix ta_r f14">
            <h5 class="pull-left">保密协议：</h5>
            <i class="fa fa-circle-thin f20"></i>
        </div>
    </div>
    <!--保密协议 E-->
    <!--提交订单 S-->
    <div class="order_submit_yqc">
        <input type="submit" class="btn btn_submit" value="提交订单">
    </div>
    <!--提交订单 E-->
    <script>
        $(function(){
            $('.input_box input').focus(function(){
                $(this).parent().addClass('active');
            })
            $('.input_box input').blur(function(){
                $(this).parent().removeClass('active');
            })
            $('.js_minus').click(function(){
                var v = $('.js_count_box').val()|| 0,
                    max = parseInt($(this).attr('data-max'));
                if(v > 0){
                    v = --v;
                    if(max > v&&v > 0){
                        $('.js_plus,.js_minus').addClass('active');
                    }else if(max == v){
                        $('.js_plus').removeClass('active');
                    }else if(v == 0){
                        $('.js_minus').removeClass('active');
                    }
                }
                $('.js_count_box').val(v);
            })
            $('.js_plus').click(function(){
                var v = $('.js_count_box').val()||0,
                    max = parseInt($(this).attr('data-max'));
                if(v < max){
                    v = ++v;
                    if(max > v&&v > 0){
                        $('.js_plus,.js_minus').addClass('active');
                    }else if(max == v){
                        $('.js_plus').removeClass('active');
                    }else if(v == 0){
                        $('.js_minus').removeClass('active');
                    }
                }
                $('.js_count_box').val(v);
            })
            $('.js_count_box').keyup(function(){
                var v = $('.js_count_box').val()||0,
                    max = parseInt($('.js_plus').attr('data-max'));
                if(max > v&&v > 0){
                    $('.js_plus,.js_minus').addClass('active');
                }else if(max == v){
                    $('.js_plus').removeClass('active');
                }else if(v == 0){
                    $('.js_minus').removeClass('active');
                }
            })
            $('.js_collapse_ctrl').click(function(){
                if($(this).parent().hasClass('src_box')||$(this).parent().hasClass('target_box')){
                    $(this).parent().toggleClass('fixed');
                    $('body').toggleClass('hid').parent().toggleClass('hid');
                }
                $(this).find('i').toggleClass('fa-caret-down').toggleClass('fa-caret-right');
                $(this).next('.js_collapse_box').slideToggle('active');
            })
            $('.js_circle_ctrl').click(function(){
                $(this).find('i').toggleClass('fa-circle-thin').toggleClass('fa-check-circle');
                $(this).next().slideToggle();
            })
            //选中类型
            $('.js_collapse_box').children().click(function(){
                $(this).addClass('active').siblings().removeClass('active');
                if($(this).hasClass('item')){
                    $(this).parent().prev().find('span').text($(this).find('h5').text());
                    $(this).parent().prev().find('i').toggleClass('fa-caret-down').toggleClass('fa-caret-right');
                    $(this).parent().prev().next('.js_collapse_box').slideToggle('active');
                }else if($(this).find('input').length){
                    var _this = $(this);
                    $(this).find('input').blur(function(){
                        _this.parent().prev().find('span').text(_this.find('input').val());
                        _this.parent().prev().find('i').toggleClass('fa-caret-down').toggleClass('fa-caret-right');
                        _this.parent().prev().next('.js_collapse_box').slideToggle('active');
                    })
                }
            })
            //选中语言
            $('.js_collapse_box .lang_box a').click(function(){
                $(this).parents('.js_collapse_box').slideUp().prev().find('span').html($(this).text());
                $(this).parents('.js_collapse_box').parent().removeClass('fixed');
                $(this).parents('.js_collapse_box').prev().find('i').toggleClass('fa-caret-down').toggleClass('fa-caret-right');
            })
            //源语言-点击字母时设置，语言列表偏移
            $('#js_src_char_list span').click(function(){
                var p = $('#js_src_lang_list dl dt').eq($(this).index());
                $('#js_src_lang_list dl').css({'marginTop':parseInt($('#js_src_lang_list dl').css('marginTop')) -
                p.offset().top + $(this).parents('.js_collapse_box').prev().outerHeight()});
            })
            //目标语言-点击字母时设置，语言列表偏移
            $('#js_tar_char_list span').click(function(){
                var p = $('#js_tar_lang_list dl dt').eq($(this).index());
                $('#js_tar_lang_list dl').css({'marginTop':parseInt($('#js_tar_lang_list dl').css('marginTop')) -
                p.offset().top + $(this).parents('.js_collapse_box').prev().outerHeight()});
            })
        })
        //触摸对象
        function Touch(selector){
            return this.init(selector);
        }
        Touch.prototype = {
            //触摸相关参数
            trail:{
                startX : null, //X起始位置
                startY : null, //Y起始位置
                moveX : null,  //X移动位置
                moveY : null   //Y移动位置
            },
            //初始化元素
            init: function(selector){
                this[0] = document.getElementById(selector);
            },
            //触摸系列
            t: function(selector,fn){
                this.start();
                this.move(selector,fn);
                this.end();
            },
            //开始触摸
            start: function(){
                var _this = this;
                this[0].addEventListener('touchstart',function(e){
                    //e.preventDefault();
                    var touch = e.touches[0];
                    _this.trail.startX = touch.pageX;
                    _this.trail.startY = touch.pageY;
                },false);
            },
            //触摸移动
            move: function(selector,fn){
                var _this = this;
                this[0].addEventListener('touchmove',function(e){
                    e.preventDefault();
                    var touch = e.targetTouches[0];
                    _this.trail.moveX = touch.pageX;
                    _this.trail.moveY = touch.pageY;
                    _this.box_move(selector,fn);
                },false);
            },
            //结束触摸
            end: function(fn){
                var _this = this;
                this[0].addEventListener('touchend',function(e){
                    //e.preventDefault();
                },false);
            },
            //语言选择回调事件
            box_move: function(selector,fn){
                //盒高度
                var _visH = $('body').height() - $(this[0]).parent().prev().height();
                //触摸移动距离
                // 负值 向下滑动   正值 向上滑动
                var move = this.trail.startX - this.trail.moveX;
                //内容高度
                var boxH = selector.height();
                //当前移动高度
                //
                var _mt = parseInt(selector.css('marginTop')) + move * 10;
                //mt 为负数
                if(_mt < _visH - boxH - 50){
                    _mt = _visH - boxH - 50;
                }else if(_mt > 0){
                    _mt = 0;
                }
                fn({visH: _visH , mt: _mt});
            }
        }
        //实例并初始化源语言和目标语言选择框。
        var s_lang = new Touch('js_src_lang_list'),
            s_char = new Touch('js_src_char_list'),
            t_lang = new Touch('js_tar_lang_list'),
            t_char = new Touch('js_tar_char_list'),
            s_lang_selector = $(s_lang[0]).find('.lang_box'),
            t_lang_selector = $(t_lang[0]).find('.lang_box'),
            s_char_selector = $(s_char[0]),
            t_char_selector = $(t_char[0]);
        //绑定源语言列表
        s_lang.t(s_char_selector,function(e){
            $(s_lang[0]).css({height: e.visH}).find('.lang_box').stop().animate({'marginTop': e.mt });
        });
        //绑定源语言字母列表
        s_char.t(s_char_selector,function(e){
            $(s_char[0]).parent().css({height: e.visH});
            $(s_char[0]).stop().animate({'marginTop': e.mt });
        });
        //绑定目标语言列表
        t_lang.t(t_char_selector,function(e){
            $(t_lang[0]).css({height: e.visH}).find('.lang_box').stop().animate({'marginTop': e.mt });
        });
        //绑定目标语言字母列表
        t_char.t(t_char_selector,function(e){
            $(t_char[0]).parent().css({height: e.visH});
            $(t_char[0]).stop().animate({'marginTop': e.mt });
        });
    </script>
</block>