<extend name="Home@Public/body"/>
<block name="body">
	<div class="container">
		<div class="row m_t_10 m_b_10">
			<include file="Public/sidebar" /> 
			<div class="col-xs-9 border_gray">
				<div class="list_box_j">
					<div class="order_top_j">
						<!--面包屑导航 S-->
						<ul class="pull-left">
							<li><a href="#">消息中心</a></li>
							<li><a href="#">订单消息</a></li>
							<li class="active">我要翻译一本书</li>
						</ul>
						<!--面包屑导航 E-->
						<a href="#this" class="btn btn-xs btn-default">&lt;&lt;返回</a>
						<a href="#this" class="btn btn-xs btn-default">回复</a>
						<a href="#this" class="btn btn-xs btn-default">删除</a>
						<a href="#this" class="btn btn-xs btn-default">举报</a>
					</div>

					<div class="order_title_j">
						<p class="f_16"><b>我要翻译一本书</b></p>
						<p>发件人：<a href="#this" class="blue">大黑牛晨晨</a></p>
						<p>时&nbsp;&nbsp;&nbsp;&nbsp;间：2015年6月12日（星期五） 下午13:50</p>
						<p>附&nbsp;&nbsp;&nbsp;&nbsp;件：一个<a href="#this" class="blue">（<i class="word_icon"></i>无畏将来，不念过去 翻译.docx）</a></p>
					</div>

					<div class="order_con_j f_14">
						<p>源语言：中文目标语言：英文</p>
						<p>字数：200000 字</p>
						<p>单价：200 元 / 千字</p>
						<p>合计：4000 元</p>
						<h5><b class="blue">预计时间</b></h5>
						<div class="table-responsive">
							<table class="table table-bordered table-condensed text-center f_12">
								<tr>
									<td>周一</td>
									<td>周二</td>
									<td>周三</td>
									<td>周四</td>
									<td>周五</td>
									<td>周六</td>
									<td>周日</td>	
								</tr>
								<tr>
									<td>上午</td>
									<td>上午</td>
									<td>上午<i class="fa fa-check-circle-o blue f_16"></i></td>
									<td>上午</td>
									<td>上午</td>
									<td>上午</td>
									<td>上午</td>
								</tr>
								<tr>
									<td>下午</td>
									<td>下午</td>
									<td>下午<i class="fa fa-check-circle-o blue f_16"></i></td>
									<td>下午</td>
									<td>下午</td>
									<td>下午</td>
									<td>下午</td>
								</tr>
								<tr>
									<td>晚上</td>
									<td>晚上</td>
									<td>晚上</td>
									<td>晚上</td>
									<td>晚上</td>
									<td>晚上</td>
									<td>晚上</td>
								</tr>
							</table>
						</div>
						<a href="#this" class="btn btn-warning">确定</a>
						<p>翻译时间：周三上午，下午</p>
						<p>共计：1 天</p>
					</div>

					<div class="panel panel-info">
						<div class="panel-heading">
							<i class="glyphicon glyphicon-paperclip blue"></i> <b class="f_14">附件</b>（一个）
						</div>
						<div class="panel-body clearfix">
							(无畏将来，不念过去 翻译.docx） 557.8K<br>
							<a href="#this" class="blue">下载</a>&nbsp;&nbsp;<a href="#this" class="blue">预览</a>
						</div>
					</div>

					<input type="text" class="form-control" placeholder="快捷回复...">

					<div class="panel-heading clearfix m_t_20">
						<span class="pull-left">
							下一封未读：<a href="#this"><b>您好，我想咨询一下音频翻译相关，请问你们可以吗？</b></a>
						</span>
						<span class="pull-right">
							<a href="#this" class="blue">上一封</a>
							<a href="#this" class="blue">下一封</a>
						</span>
					</div>
					
					<div class="m_t_20">
						<a href="#this" class="btn btn-xs btn-default">&lt;&lt;返回</a>
						<a href="#this" class="btn btn-xs btn-default">回复</a>
						<a href="#this" class="btn btn-xs btn-default">删除</a>
						<a href="#this" class="btn btn-xs btn-default">举报</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>