<extend name="Home@Public/body"/>
<block name="body">
    <div class="container">
        <div class="row">
            <!--面包屑导航 S-->
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i>您现在所在的位置：<a href="#">首页</a></li>
                <li><a href="#">服务中心</a></li>
                <li class="active">公司简介</li>
            </ol>
            <!--面包屑导航 E-->
            <!--注册页面标题 S-->
            <h2 class="reg_title">会员中心<span>/</span><small>MEMBER</small></h2>
            <div class="reg_description">
                <h4 class="reg_sub_title">注册成为<span class="reg_light">开克</span>会员</h4>
                <p class="reg_lan_desc">WELCOME TO<span>YOSHIMORI MI MEMBER CENTER</span><i class="line"></i></p>
                <p class="reg_notice">感谢您抽出宝贵时间填写个人信息，审核通过后您即可使用您的账户名登录网站。</p>
                <p class="reg_form_notice">带“<span class="red">*</span>”部分为必填写项</p>
            </div>
            <!--注册页面标题 E-->
            <!--注册表单 S-->
            <div class="col-xs-7 clearfix">
                <form class="form-horizontal">
                    <ul class="reg_form">
                        <li class="form-group">
                            <span class="col-xs-2 control-label">用户名：</span>
                            <div class="col-xs-10"><input type="text" class="input"><span class="red">*</span></div>
                        </li>
                        <li class="form-group">
                            <span class="col-xs-2 control-label">用户名：</span>
                            <div class="col-xs-10">
                                <select class="select">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                                <select class="select">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                                <span class="red">*</span>
                            </div>
                        </li>
                        <li class="form-group">
                            <span class="col-xs-2 control-label">用户名：</span>
                            <div class="col-xs-10 checkbox">
                                <label><input type="checkbox"/>1</label>
                                <label><input type="checkbox"/>2</label>
                                <label><input type="checkbox"/>3</label>
                                <label><input type="checkbox"/>4</label>
                                <label><input type="checkbox"/>5</label>
                                <label><input type="checkbox"/>6</label>
                                <label><input type="checkbox"/>7</label>
                                <label><input type="checkbox"/>8</label>
                                <label><input type="checkbox"/>9</label>
                                <label><input type="checkbox"/>10</label>
                                <span class="red">*</span>
                            </div>
                        </li>
                        <li class="form-group">
                            <span class="col-xs-2 control-label">用户名：</span>
                            <div class="col-xs-10 radio">
                                <label><input type="radio"/>1</label>
                                <label><input type="radio"/>2</label>
                                <label><input type="radio"/>3</label>
                                <label><input type="radio"/>4</label>
                                <label><input type="radio"/>5</label>
                                <label><input type="radio"/>6</label>
                                <label><input type="radio"/>7</label>
                                <label><input type="radio"/>8</label>
                                <label><input type="radio"/>9</label>
                                <label><input type="radio"/>10</label>
                                <span class="red">*</span>
                            </div>
                        </li>
                        <li class="form-group">
                            <span class="col-xs-2 control-label">用户名：</span>
                            <div class="col-xs-10">
                                <input type="text" class="input"><a href="javascript:;" class="verify_code js_verify_code">点击发送验证码</a>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="col-xs-10 col-xs-offset-2 checkbox reg_protocol">
                                <label><input type="checkbox" />我已阅读并同意<a href="#" class="protocol">《注册用户协议》</a></label>
                            </div>
                        </li>
                        <li class="form-group">
                            <div class="col-xs-10 col-xs-offset-2">
                                <input type="submit" class="btn btn_submit" value="确认并提交"/>
                                <input type="reset" class="btn btn_cancel" value="重置"/>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <!--注册表单 E-->
            <!--会员权益介绍 S-->
            <div class="col-xs-5 visible-md-block visible-lg-block vip_ensure">
                <h4 class="reg_light">MEMBER</h4>
                <h3>什么是<span class="reg_light">会员？</span></h3>
                <ul class="vip_service">
                    <li><span>1</span>注册会员后享受开克产品优惠</li>
                    <li><span>2</span>通过开克平台了解更多开克产品</li>
                    <li><span>3</span>想了解更多会员权益与服务，请点击<a href="#">【这里】</a></li>
                </ul>
            </div>
            <!--会员权益介绍 S-->
        </div>
    </div>
</block>