<extend name="Home@Public/body"/>
<block name="body">
    <div class="container">
        <div class="row m_t_10 m_b_10">
            <include file="Public/sidebar" />
            <div class="col-xs-9 border_gray">
                <div class="list_box_j">
                    <div class="dataset_title clearfix f_16 js_exp_top"><span>过往经历</span><i></i><a href="javascript:;" class="btn btn_exp_add">添加</a></div>
                    <!-- 新增/修改 过往经历模块 S-->
                    <div class="exp_edit_box">
                        <div class="exp_times clearfix">
                            <div class="exp_start_time">
                                <h6>开始时间<span class="red">(必填)</span></h6>
                                <select class="form-control">
                                    <option>- 年 -</option>
                                    <option>2015</option>
                                </select>
                                <select class="form-control m_l_15">
                                    <option>- 月 -</option>
                                    <option>2</option>
                                </select>
                            </div>
                            <div class="exp_end_time">
                                <h6>结束时间<span class="red">(必填)</span></h6>
                                <select class="form-control">
                                    <option>- 年 -</option>
                                    <option>2015</option>
                                </select>
                                <select class="form-control m_l_15">
                                    <option>- 月 -</option>
                                    <option>2</option>
                                </select>
                            </div>
                        </div>
                        <h6>描述过往经历（50-200字）<span class="red">(必填)</span></h6>
                        <p class="blue">详细的描述你的翻译经历、学习经历、工作经历等，有助于卖家更好的了解你！</p>
                        <textarea class="textarea_exp js_count_num" placeholder="1.工作经历：例如-2008-2011 北京外国语大学学习英语专业
2.工作经历：例如-2013-1015在北京城里乐语翻译机构，担任英语特级翻译官
3...."></textarea>
                        <p class="ta_r blue">还需要输入<span class="js_min_num" data-max="50">50</span>个字</p>
                        <input type="submit" class="btn btn_exp_submit" value="提交">
                        <input type="reset" class="btn btn_exp_cancel" value="取消">
                    </div>
                    <!-- 新增/修改 过往经历模块 E-->
                    <ul class="exp_lists_yqc">
                        <li class="clearfix">
                            <div class="exp_item_action">
                                <a href="javascript:;" class="btn btn_exp_del js_del">删除</a>
                                <a href="javascript:;" class="btn btn_exp_edit js_edit">修改</a>
                            </div>
                            <div class="exp_item_desc">
                                <h4>过往经历</h4>
                                <div class="exp_item_box">
                                    <h5>1999年6月—至今</h5>
                                    <p class="toggle_text_box">素描是绘画造型的基础，通过物体临摹、写生，锻炼孩子对物体的观察能力，提高绘画的表现能力，在轻松的学习氛围中得到艺术的熏陶 ， 通过正规的素描色彩训练，提高学员准确表现物体的绘画能力，锻炼绘画观察方法，提高理解力和表现手法。教学内容：基础素描、水粉、速写通过正规的素描。</p>
                                    <a href="javascript:;" class="js_toggle_text toggle_text_link org">展开全部</a>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="exp_item_action">
                                <a href="javascript:;" class="btn btn_exp_del js_del">删除</a>
                                <a href="javascript:;" class="btn btn_exp_edit js_edit">修改</a>
                            </div>
                            <div class="exp_item_desc">
                                <h4>过往经历</h4>
                                <div class="exp_item_box">
                                    <h5>1999年6月—至今</h5>
                                    <p class="toggle_text_box">素描是绘画造型的基础，通过物体临摹、写生，锻炼孩子对物体的观察能力，提高绘画的表现能力，在轻松的学习氛围中得到艺术的熏陶 ， 通过正规的素描色彩训练，提高学员准确表现物体的绘画能力，锻炼绘画观察方法，提高理解力和表现手法。教学内容：基础素描、水粉、速写通过正规的素描。</p>
                                    <a href="javascript:;" class="js_toggle_text toggle_text_link org">展开全部</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            //点击修改回到表单处。
            $('.js_edit').click(function(){
                var backtop = setInterval(function(){
                    if($(window).scrollTop() <= $('.js_exp_top').offset().top){
                        clearInterval(backtop);
                    }else{
                        $(window).scrollTop($(window).scrollTop()-20);
                    }
                },10);
            })
            //切换描述显示状态
            $('.js_toggle_text').click(function(){
                if($(this).hasClass('active')){
                    $(this).removeClass('active').text('展示全部');
                    $(this).prev('.toggle_text_box').removeClass('active').css({'height':'20'});
                }else{
                    $(this).addClass('active').text('收起全部');
                    $(this).prev('.toggle_text_box').addClass('active').css({'height':'auto'});
                }
            })
            //计数器
            $('.js_count_num').on('keyup blur',function(){
                var v = $('.js_min_num').attr('data-max') - $(this).val().length;
                $(this).val($(this).val().slice(0,parseInt($('.js_min_num').attr('data-max'))));
                $('.js_min_num').text(v < 0 ? 0 : v);
            })
        })
    </script>
</block>