<extend name="Home@Public/body"/>
<block name="body">
    <div class="container">
        <div class="row m_t_10 m_b_10">
            <include file="Public/sidebar" />
            <div class="col-xs-9 border_gray">
                <div class="list_box_j">
                    <div class="dataset_title f_16"><span>服务设置</span><i></i></div>
                    <p class="service_tip_yqc">请填写您店铺的信息描述，比如我提供中文到英文的翻译服务等等...</p>
                    <textarea class="textarea_rounded_yqc"></textarea>
                    <input type="submit" class="btn btn_service_submit_yqc" value="提交">
                </div>
            </div>
        </div>
    </div>
</block>