<extend name="Home@Public/body"/>
<block name="body">
	<div class="container">
		<div class="row m_t_10 m_b_10">
			<include file="Public/sidebar" />
			<div class="col-xs-9 border_gray">
				<div class="list_box_j">
					<div class="dataset_title f_16"><span>手机修改</span><i></i></div>
					<div class="p_l_20">
						<div class="table-responsive">
							<table class="table table-bordered table_data_j">
								<tr>
									<th>公司名称</th>
									<td>
										<span>乐享国际文化传媒</span>
									</td>
								</tr>
								<tr>
									<th>营业执照</th>
									<td>
										<img src="__IMG__/license.jpg">
									</td>
								</tr>
								<tr>
									<th>税务登记证</th>
									<td>
										<img src="__IMG__/license.jpg">
									</td>
								</tr>
								<tr>
									<th  style="vertical-align: top !important;">翻译资质证书</th>
									<td>
										<p>
											<i class="fa fa-photo picture_j f_28"></i>
											<a href="#this" class="btn btn_gray btn-xs f_14">点击上传</a>
											<span class="light_gray p_l_20">可上传多次</span>
										</p>
										<a href="#this" class="update_pic_j"><img src="__IMG__/license.jpg"><span>删除</span></a>
										<a href="#this" class="update_pic_j"><img src="__IMG__/license.jpg"><span>删除</span></a>
										<a href="#this" class="update_pic_j"><img src="__IMG__/license.jpg"><span>删除</span></a>
									</td>
								</tr>
								<tr>
									<th style="vertical-align: top !important;">公司介绍</th>
									<td>
										此处放编辑器
									</td>
								</tr>
							</table>
							<div class="text-center">
								<a href="#this" class="btn btn-warning">提交</a>
								<a href="#this" class="btn btn-default">取消</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>