<extend name="Home@Public/body" />
<block name="body">
<css href="__CSS__/classes.css" />
<css href="__PLUGIN__/fancybox/source/jquery.fancybox.css" />
<js href="__PLUGIN__/fancybox/source/jquery.fancybox.js" />
<div class="container">
	<div class="row m_t_10 m_b_10">
		<include file="Public/sidebar" />
		<div class="col-xs-9 border_gray">
			<div class="list_box_j">
				<div class="dataset_title clearfix f_16 js_exp_top" ><span><?=ACTION_NAME=='member_evaluate'?'我的评价':'评价管理'?></span><i></i></div>
				<div class="m_lr_15">
				<!-- 新增/修改 过往经历模块 S--> 

					<!--评价切换 S-->          	
					<!-- <div class="w_302">
						<ul class="nav nav-pills nav-justified">
							<li><a class="order_reset_a order_cur" href="javascript:void(0)">来自客户的评价(<strong><?=$good_comments_num+$mid_comments_num+$bad_comments_num?></strong>)</a></li>
							<li><a class="order_reset_a" href="javascript:void(0)">给客户的评价(<strong>10</strong>)</a></li>
						</ul>
					</div> -->
					<!--评价切换 E-->
					<!--评分 S-->
					<?php
						if(ACTION_NAME!='member_evaluate'){
					?>
					<div class="row order_evaluate_inline">
						<div class="col-xs-4 border_r2">
							<div class="comments_score">
								<h2 class="org ta_c"><?=$shop_info['star_num']?></h2>
								<div class="star_progress_yqc"><div class="bar <?=($shop_info['quality_star_num']*2*10==100)? 'red_star':''?>" style="width: <?=$shop_info['serve_star_num']*2*10?>%;"></div></div>
							</div>
						</div>
						<div class="col-xs-4 border_r2">
							<div class="comments_score2">
								<div class="star_box clearfix">
									<span class="pull-left">速度：</span>
									<div class="pull-left star_progress_yqc edit"><div class="bar <?=($shop_info['quality_star_num']*2*10==100)? 'red_star':''?>" style="width: <?=$shop_info['speed_star_num']*2*10?>%;"></div></div>
								</div>
								<div class="star_box clearfix">
									<span class="pull-left">质量：</span>
									<div class="pull-left star_progress_yqc edit"><div class="bar <?=($shop_info['quality_star_num']*2*10==100)? 'red_star':''?>" style="width: <?=$shop_info['quality_star_num']*2*10?>%;"></div></div>
								</div>
								<div class="star_box clearfix">
									<span class="pull-left">服务：</span>
									<div class="pull-left star_progress_yqc edit"><div class="bar <?=($shop_info['quality_star_num']*2*10==100)? 'red_star':''?>" style="width: <?=$shop_info['serve_star_num']*2*10?>%;"></div></div>
								</div>
							</div>
						</div>
						<div class="col-xs-4">
							<p class="comments_score3"><i class="face_icon smile"></i><span>好评&nbsp;&nbsp;<?=$good_comments_num?>个</span></p>
							<p class="comments_score3"><i class="face_icon smile"></i><span>中评&nbsp;&nbsp;<?=$mid_comments_num?>个</span></p>
							<p class="comments_score3"><i class="face_icon smile"></i><span>差评&nbsp;&nbsp;<?=$bad_comments_num?>个</span></p>
						</div>
					</div>
					<?php
						}
					?>
					<!--评分 E-->
					<!--company right side S-->
					<div class="all_comments_box">
						<div class="comments_sort clearfix">
							<input type="hidden" class="js_comments_sort" value="1&0">
							<!-- <strong class="pull-left">
								<label>全部评价</label>
							</strong> -->
							<!-- <strong class="pull-left" style="width:50px;">全部评价</strong> -->
							<!--<select class="pull-right selecter js_ajax_select_LH" style="width:90px;">
								<option value=1>默认排序</option>
								<option value=2>时间降序</option>
							</select>--><!--@liuqiao  由于和APP端对接，该功能先取消-->
							<div class="js_ajax_radio_LH" style="padding-left:0px; padding-right: 20px;">
								<div class="radio-inline">
									<label><input type="radio" name="inlineRadioOptions" value="0" checked="checked"> 全部评价（<?=$total_comments_num?>）</label>
								</div>
								<div class="radio-inline">
									<label><input type="radio" name="inlineRadioOptions" value="1"> 好评（<?=$good_comments_num?>）</label>
								</div>
								<div class="radio-inline">
									<label><input type="radio" name="inlineRadioOptions" value="2"> 中评（<?=$mid_comments_num?>）</label>
								</div>
								<div class="radio-inline">
									<label><input type="radio" name="inlineRadioOptions" value="3"> 差评（<?=$bad_comments_num?>）</label>
								</div>
							</div>
						</div>
						<div class='comment_list_ajax_LH'>
						<?php if(empty($shop_comments)){?>
							<include file="Public/nodata" />
						<?php }?>
							<ul class="comments_list ">
										<?php
											foreach($shop_comments as $row){
											  $user_header=getAvatar($row["member_id"],"middle");
										?>
									<li class="clearfix">
										<div class="comment_img"><a href="#"><img src="<?=$user_header?>" class="img-circle" onerror="this.src='__IMG__/sc_template/onerror_pic.png'"/></a></div>
										<?php
											if(ACTION_NAME!='member_evaluate'){
										?>
										<div class="comment_btn">
											<a class="reply_btn_ZH b_org js_btn" href="javascript:void(0)"><?=$row['_child']?'修改回复':'回复'?></a>
										</div>
										<?php
											}
										
										?>
									<div class="comment_info m_r_150">
										<div class="review_type"><i class="face_icon smile"></i><?=$row['type_text']?>
											<span>源语言：<em><?=$row['language_text']?></em></span><span>目标语言：<em><?=$row['to_language_text']?></em></span>
										</div>
										<p><?=$row['content']?></p>
										<div class="img_list js_fancybox">
											       <?php
												     foreach($comments_image[$row["id"]] as $img){
												   ?>
													<a href="__ROOT__/<?=$img["save_path"]?>" rel="group"><img src="__ROOT__/<?=$img["save_path"]?>"></a>
												   <?php
												    }
												   ?>
										</div>
										<div style="position: relative">
											<p><?=date('Y-m-d',strtotime($row['add_time']))?> 所属类型：<?=$row['serve_text']?></p>
											<div class="dialog_box js_dialog">
												<form action='<?=U('User/Order/reply')?>'  class='comment_form'>
													<input type='hidden' name='comment_id' value='<?=$row['id']?>'/>
													<?php
														if($row['_child']){
													?>
													<input type='hidden' name='reply_id' value='<?=$row['_child'][0]['id']?>' />
													<?php
														}
													?>
													<!--弹框 S-->
													<div class="dialog_box_ZH">
														<i class="dialog_sj"></i>
														<div class="radio">
															<div class="radio-inline">
																<label><input type="radio" name='comment_level' value='1' <?=$row['_child'][0]['type']==1?'checked':''?> >好评</label>
															</div>
															<div class="radio-inline">
																<label><input type="radio" name='comment_level' value='2' <?=$row['_child'][0]['type']==2?'checked':''?>>中评</label>
															</div>
															<div class="radio-inline">
																<label><input type="radio" name='comment_level' value='3' <?=$row['_child'][0]['type']==3?'checked':''?>>差评</label>
															</div>
														</div>
														<div class="textarea_box_ZH clearfix">
															<textarea class="textarea_style reply_LH js_reply_msg" rows="4" name='reply' ><?=$row['_child'][0]['content']?></textarea>
															<span class="m_t_10 pull-left">500字</span>
															<a class='reply_btn_ZH pull-right b_org js_reply_lh'>提交</a>
															<a class="reply_btn_ZH pull-right b_grey js_cancel" href="javascript:void(0)">取消</a>
														</div>
													</div>
													<!--弹框 E-->
												</form>
											</div>
										</div>
										<?php
											foreach($row['_child'] as $_row){
										?>
										<!--评论 S-->
										<div class="comment_ZH">
											<ul class="media-list">
												<li class="media">
													<div class="media-left">
														<span class="media-object w_55">回复：</span>
													</div>
													<div class="media-body">
														<h6 class="media-heading"><i class="face_icon smile"></i><?=$_row['type_text']?></h6>
														<p class="js_receive"><?=$_row['content']?></p>
													</div>
												</li>
											</ul>
										</div>
										<!--评论 E-->
										<?php
											}
										?>
									</div>
								</li>
								<?php
									}
								?>
							</ul>
							<div class="pager clearfix pages">
								<?=$page?>
							</div>
						</div>
					</div>
				</div>
				<!--company right side E-->
				
				<!--the end-->
				</div>
			</div>
		</div>
	</div>
</div>									
<script type="text/javascript">
	$('.js_fancybox a').fancybox();
	$(".js_btn").on('click',function(){
		var _this = $(this);
		btnDialog(_this);
	});
	$(".js_cancel").on('click',function(){
		var _this = $(this);
		cancelDialog(_this);
	});
	$('.js_reply_lh').on('click',function(){
		var _this = $(this);
		subDialog(_this);
	});
	$('.js_ajax_select_LH').on('change',function(){
		var select = $(this).val();
		var radio  = $('.js_ajax_radio_LH input:checked').val()||'all';
		$('.js_comments_sort').val(select+'&'+radio);
		$.post("<?=U()?>",{select:select,radio:radio},function(data){
			$('.comment_list_ajax_LH').html(data);
		});
	});
	$('.js_ajax_radio_LH input').on('click',function(){
		var select = $('.js_ajax_select_LH').val();
		var radio  = $(this).val();
		$('.js_comments_sort').val(select+'&'+radio);
		$.post("<?=U()?>",{select:select,radio:radio},function(data){
			$('.comment_list_ajax_LH').html(data);
		});
	});
	$('.all_comments_box .pages').delegate('a','click',function(){
		var radio=$(".js_ajax_radio_LH input[type='radio']:checked").val();
		//alert(radio)
		if($(this).attr("class")!="cur"){
			var url=$(this).attr("href");
			var data='radio='+radio+'&shop_id=<?=I('shop_id')?>';
			if($(this).attr("class")=="go_to_page"){
			   if($("input[name='p']").val()){
				 url="<?=U('','','').'/shop_id/'.I('shop_id').'/p/'?>"+$("input[name='p']").val();
			   }
			}
			$.ajax({
			   type: "POST",
			   url: url,
			   data: data,
			   dataType: "html",
			   success: function(data){
				  $('.comment_list_ajax_LH').html(data);
			   }
			});
		}
		return false;
	});
	function btnDialog(_this){
		$('.js_dialog').hide();
		$(_this).parent().siblings().find(".js_dialog").fadeIn();
	};
	function cancelDialog(_this){
		$(_this).parent().parent().parent().parent().fadeOut();
	};
	function subDialog(_this){
		$(_this).parents('.js_dialog').fadeOut();
		console.log($(_this).parents('.comment_info').find('.js_receive').text());
		console.log($(_this).siblings('.js_reply_msg').val());
		$.post($(_this).parent().parent().parent().attr('action'),$(_this).parent().parent().parent().serialize(),function(data){
			window.location.reload();
			$(_this).parents('.comment_info').find('.js_receive').text($(_this).siblings('.js_reply_msg').val());
			//alert(data.info);
		});
	}
</script>
</block>