<extend name="Home@Public/body"/>
<block name="body">
    <css href="__CSS__/classes.css" />
	<css href="__PLUGIN__/fancybox/source/jquery.fancybox.css" />
	<js href="__JS__/superSlide.js" />
	<js href="__PLUGIN__/fancybox/source/jquery.fancybox.js" />	
	<js href="__PLUGIN__/ckplayer/ckplayer.js" />
    <include file='Public/shop_top' />
                <!--company right side S-->
                <div class="col-xs-9 company_right_side">
                    <div class="server_info_box">
                        <!-- business schedule S-->
                        <div class="main_title_box clearfix">
                            <h4 class="org pull-left">商家日程</h4>
                            <div class="pull-right">
                                <span><i class="icon_times ordered fc fc-remind"></i>已预约</span>
                                <span><i class="icon_times free fc fc-yiguanzhu"></i>可预约</span>
                                <span><i class="icon_times deny fc fc-cuowutishi"></i>不可预约</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                            <tr>
                                <td class="ta_l" colspan="7">可预约翻译时间：</td>
                            </tr>
                            <tr>
                                <th>周一</th>
                                <th>周二</th>
                                <th>周三</th>
                                <th>周四</th>
                                <th>周五</th>
                                <th>周六</th>
                                <th>周日</th>
                            </tr>
							<?php
								foreach($shop_time as $row){
							?>
                            <tr>
								<?php
									foreach($row as $k=>$v){
										if($v['time']==1){
											$str = '上午';
										}else if($v['time']==2){
											$str = '下午';
										}else if($v['time']==3){
											$str = '晚上';
										}
										if($v['type']==1){
								?>
                                <td><?=$str?><i class="icon_times ordered fc fc-remind" time='<?=$v['time']?>'></i></td>
								<?php
										}else if($v['type']==2){
								?>
                                <td><?=$str?><i class="icon_times free fc fc-yiguanzhu"></i></td>
								<?php
										}else if($v['type']==3){
								?>
                                <td><?=$str?><i class="icon_times deny fc fc-cuowutishi"></i></td>
								<?php
										}
									}
								?>
                            </tr>
							<?php
								}
							?>
                        </table>
                        <?php if(empty($shop_time)){?>
		                	<include file="Public/nodata" />
		                <?php }?> 
                        </div>
                        <!-- business schedule E-->
                        <!-- service language S-->
                        <div class="main_title_box clearfix">
                            <h4 class="org pull-left">服务语言</h4>
                            <a href="<?=U('Home/Classes/servece',array('shop_id'=>I('shop_id')))?>" class="more pull-right">全部商品</a>
                        </div>
                        <ul class="lan_lists js_lan_lists">
							<?php
								foreach($shop_servece as $row){
							?>
                            <li class="clearfix">
                                <h5><a href="#"><?=$row['title']?></a></h5>
                                <div class="col-xs-5 server_detail">
                                    <p>属性：<?=$row['type_text']?></p>
                                    <p>描述：<?=strip_tags(htmlspecialchars_decode($row['description']))?></p>
                                </div>
                                <div class="col-xs-5">
                                    <p class="f_14">价格：<span class="red">￥</span><?=$row['price']?>/小时/千字/分钟</p>
                                </div>
                                <div class="col-xs-2"><a href="<?php if(intval(session('home_member_id'))){ echo U('/Home/Buy/index',array('product_id'=>$row['id'])); }else{ echo U('/User/Login/index'); }?>" class="btn btn_buy_server">购买此服务</a></div>
                            </li>
							<?php
								}
							?>
                        </ul>
            			<?php if(empty($shop_servece)){?>
							<include file="Public/nodata" />
						<?php }?>
                        <!-- service language E-->
                        <!-- video list S-->
                        <div class="main_title_box clearfix">
						<?php
						   $vnum=0;
						   $imgnum=0;
						   foreach($shop_albumVideo_data as $row){
						     if($row["type"]==4){
							    $vnum++;
							 }else{
							    $imgnum++;
							 }
						   }
						?>
                            <h4 class="org pull-left">视频相册<small>(<?=$vnum?>个视频，<?=$imgnum?>张照片)</small></h4>
                            <a href="<?=U('Home/Classes/videos',array('shop_id'=>I('shop_id')))?>" class="more pull-right">查看全部</a>
                        </div>
						<?php
						  if(!empty($shop_albumVideo_data)){
						 ?>
                        <div class="big_pic_box">
                            <span class="prev"><i class="fa fa-chevron-left"></i></span>
                            <span class="next"><i class="fa fa-chevron-right"></i></span>
						    <div class="video" id='a1'>
						    </div>
						    <div class="big_img">
								<img onerror="this.src='__IMG__/sc_template/onerror_pic.png'" src="<?=$shop_albumVideo_data[0]["type"]==4?'__ROOT__/'.$shop_albumVideo_data[0]['cover']:'__ROOT__/'.$shop_albumVideo_data[0]['img_path']?>"/>
						    </div>
						    <p><?=$shop_albumVideo_data[0]["title"]?></p>
						</div>
                        <div class="pic_list_yqc">
                            <span class="prev"><i class="fa fa-chevron-left"></i></span>
                            <span class="next"><i class="fa fa-chevron-right"></i></span>
                            <ul class="clearfix">
                                <!-- <li class="active"><a href="javascript:;"><i class="small_player_icon"></i><img data-type='true' src="__IMG__/company_pic.jpg"/></a><p>世界记忆大师</p></li> -->
								<?php
								
									foreach($shop_albumVideo_data as $row){
									  
								?>
                                <li>
                                	<a href="javascript:;">
                                		<i class="small_player_icon"></i>
                                		<div class="small_pic">
                                			<img onerror="this.src='__IMG__/sc_template/onerror_pic.png'" <?=$row['type']==4?'data-type='.$row['img_path']:''?> src="<?=$row['type']==4?'__ROOT__/'.$row['cover']:'__ROOT__/'.$row['img_path']?>"/>
                                		</div>
                                	</a>
                                	<p><?=msubstr($row['title'],0,10)?></p>
                                </li>
								<?php
									}
								?>
                            </ul>
                           
                        </div>
						<?php 
						     }else{
						?>
						<include file="Public/nodata" />
						<?php }?>
                        <!-- video list E-->
                        <!-- more info S-->
                        <div class="main_title_box clearfix">
                            <h4 class="org pull-left">更多资料</h4>
                            <a href="<?=U('Home/Classes/info',array('shop_id'=>I('shop_id')))?>" class="more pull-right">查看全部</a>
                        </div>
                        <div class="more_content table-responsive clearfix">
                            <?=htmlspecialchars_decode($shop_info['description_now'])?>
                        </div>
                        <?php if(empty($shop_info['description_now'])){?>
                        	<include file="Public/nodata" />
                        <?php }?>
                        <!-- more info S-->
                    </div>
                    <div class="comments_info_box">
                        <h3 class="comments_title_yqc">所有评价</h3>
                        <div class="clearfix">
                        
                            <div class="comments_score">
                                <h2 class="org ta_c"><?=$shop_info_1['star_num']?></h2>
                               <div class="pull-left star_progress_yqc edit"><div class="bar <?=($shop_info_1['quality_star_num']*2*10==100)? 'red_star':''?>" style="width: <?=$shop_info_1['serve_star_num']*2*10?>%;"></div></div>
                            </div>
                            <div class="all_comments_box">
                               <div class="comments_sort clearfix">
									<input type="hidden" class="js_comments_sort" value="1&0">

									<!-- <select class="pull-right selecter js_ajax_select_LH" style="width:90px;">
										<option value=1>默认排序</option>
										<option value=2>时间降序</option>
									</select> -->
									<div class="js_ajax_radio_LH" style="padding-left:50px; padding-right: 20px;">
										<div class="radio-inline">
											<label><input type="radio" name="inlineRadioOptions" value="0" <?=($select_type==0) ? 'checked="checked"':'';?>> 全部评价（<?=!is_null($all_comments_num)?$all_comments_num:0?>）</label>
										</div>
										<div class="radio-inline">
											<label><input type="radio" name="inlineRadioOptions" value="1" <?=($select_type==1) ? 'checked="checked"':'';?>> 好评（<?=!is_null($good_comments_num)?$good_comments_num:0?>）</label>
										</div>
										<div class="radio-inline">
											<label><input type="radio" name="inlineRadioOptions" value="2" <?=($select_type==2) ? 'checked="checked"':'';?>> 中评（<?=!is_null($mid_comments_num)?$mid_comments_num:0?>）</label>
										</div>
										<div class="radio-inline">
											<label><input type="radio" name="inlineRadioOptions" value="3" <?=($select_type==3) ? 'checked="checked"':'';?>> 差评（<?=!is_null($bad_comments_num)?$bad_comments_num:0?>）</label>
										</div>
									</div>
								</div>
								<div class='comment_list_ajax_LH'>
								   <?php if(empty($shop_comments)){?>
										<include file="Public/nodata" />
									<?php }?>
									<ul class="comments_list">
										<?php
											foreach($shop_comments as $row){
											 $user_header=getAvatar($row["member_id"],"middle");
										?>
										<li class="clearfix">
											<div class="comment_img"><a href="#"><img src="<?=$user_header?>" class="img-circle"/></a></div>
											<div class="comment_info">
												<div class="review_type">
												    <?php
													  if($row["type"]==1){
													?>
												    <i class="face_icon smile"></i>好评
													<?php
													  }
													?>
													<?php
													  if($row["type"]==2){
													?>
												    <i class="face_icon normal"></i>中评
													<?php
													  }
													?>
													<?php
													  if($row["type"]==3){
													?>
												    <i class="face_icon sad"></i>差评
													<?php
													  }
													?>
													<span>源语言：<em><?=$row["language_text"]?></em></span><span>目标语言：<em><?=$row["to_language_text"]?></em></span>
													<!-- <img src="__IMG__/comments_img.jpg">
													<img src="__IMG__/comments_img.jpg"> -->
												</div>
												<p><?=$row['content']?></p>
												<?php
												  if(!empty($comments_image[$row["id"]])){
												?>
												<div class="img_list js_fancybox">
												   <?php
												     foreach($comments_image[$row["id"]] as $img){
												   ?>
													<a href="__ROOT__/<?=$img["save_path"]?>" rel="group"><img src="__ROOT__/<?=$img["save_path"]?>"></a>
												   <?php
												    }
												   ?>	
												</div>
												<?php
												  }
												?>
												<p><?=date("Y-m-d",strtotime($row["add_time"]))?> 所属技能：<?=$row["serve_text"]?></p>
												<!--评论 S-->
												<?php
													if($row['_child']){
												?>
												<div class="comment_ZH" style='margin-top:10px'>
													<ul class="media-list">
														<li class="media">
															<div class="media-left">
																<span class="media-object w_55">回复：</span>
															</div>
															<div class="media-body">
																<h6 class="media-heading"><i class="face_icon smile"></i><?=$_row['type_text']?></h6>
																<p><?=$_row['content']?></p>
															</div>
														</li>
													</ul>
												</div>
												<?php
												   }
												?>
												<!--评论 E-->
											</div>
										</li>
										<?php
											}
										?>
									</ul>
															
									<div class="pager clearfix pages" style='margin-top:10px;margin-bottom:10px'>
										<?=$page?>
										<!-- <a href="javascript:;" class="pull-right back_top_yqc js_backtop"></a> -->
									</div>
								</div>
                            </div>
                        </div>
                        <div class="comments_banner"><img src="__ROOT__/<?=C('SHOPPHOTO')?>" class="img-responsive"></div>
                         
                    </div>
                    
                </div>
                <!--company right side E-->
            </div>
        </div>
    </div>
    <!--bottom box S-->
    <div class="navbar navbar-fixed-bottom fixed_product_yqc">
        <div class="container">
            <form action="<?=U('/Home/Buy/index')?>" method="get">
            <ul class="clearfix">
                <li class="price">￥<em class="js_trans_price">0</em>元<span>/千字</span></li>
                <li>
                    <div class="sim-select-box js_lang_type">
                        <div class="sim-select-checked">
                            <input type="hidden"><span placeholder="请选择源语言">请选择类型</span><i></i>
                        </div>
                        <div class="sim-select-list"></div>
                    </div>
                </li>
                <li>
                    <div class="sim-select-box js_lang_source">
                        <div class="sim-select-checked">
                            <input type="hidden"><span placeholder="请选择源语言">请选择源语言</span><i></i>
                        </div>
                        <div class="sim-select-list"></div>
                    </div>
                </li>
                <li>
                    <div class="sim-select-box js_lang_target">
                        <div class="sim-select-checked">
                            <input type="hidden"><span placeholder="请选择目标语言">请选择目标语言</span><i></i>
                        </div>
                        <div class="sim-select-list"></div>
                    </div>
                </li>
                <li>
                    <div class="sim-select-box js_lang_lv">
                        <div class="sim-select-checked">
                            <input type="hidden" name="product_id"><span placeholder="请选择等级">请选择等级</span><i></i>
                        </div>
                        <div class="sim-select-list"></div>
                    </div>
                </li>
                <li>
					<?php 
						if(session('home_member_id')){
					?>
					<input type="submit" class="btn btn_bottom_buy_yqc" value="购买">
					<?php 
						}else{
					?>
					<a href="<?=U('/User/Login/index')?>" class="btn btn_bottom_buy_yqc">购买</a>
					<?php 
						}
					?>
				</li>
            </ul> 
            </form>
        </div>
    </div>
	<script text='text/javascript'>
	$(function(){
		function parseData(){
			var all_product = <?=$all_product?>,
				data = [];
			for(var i = 0, len = all_product.length; i < len; i++){
				var tempData = {};
				tempData.id = all_product[i].id;
				tempData.type = all_product[i].type;
				tempData.typeTxt = all_product[i].type_text;
				tempData.price = all_product[i].price;
				tempData.lid = all_product[i].language_id;
				tempData.ltxt = all_product[i].language_id_text;
				tempData.tid = all_product[i].to_language_id;
				tempData.ttxt = all_product[i].to_language_id_text;
				tempData.lvid = all_product[i].level_id;
				tempData.lvtxt = all_product[i].level_id_text;
				data.push(tempData);
			}	
			return data;
		}
		// 选择类型
		$('.js_lang_type').click(function(){
			var data = parseData(),
				list = $(this).find('.sim-select-list'),
				typeArr = [],
				temp = '';
			for(var i = 0, len = data.length; i < len; i++){
				if($.inArray(data[i].type,typeArr) == -1){
					typeArr.push(data[i].type);
					temp += '<span data-type="'+data[i].type+'">'+data[i].typeTxt+'</span>';
				}
			}
			list.html(temp);
		})
		// 选择源语言
		$('.js_lang_source').click(function(){
			var data = parseData(),
				type = $('.js_lang_type').find('input').val(),
				list = $(this).find('.sim-select-list'),
				typeArr = [],
				temp = '';
			if(type == ''){
				alert('请选择类型');
			}else{
				for(var i = 0, len = data.length; i < len; i++){
					if(data[i].type == type){
						if($.inArray(data[i].lid,typeArr) == -1){
							typeArr.push(data[i].lid);
							temp += '<span data-type="'+data[i].lid+'">'+data[i].ltxt+'</span>';
						}
					}
				}
				list.html(temp);
			}
		})
		// 选择目标语言
		$('.js_lang_target').click(function(){
			var data = parseData(),
				type = $('.js_lang_source').find('input').val(),
				list = $(this).find('.sim-select-list'),
				typeArr = [],
				temp = '';
			if(type == ''){
				alert('请选择源语言');
			}else{
				for(var i = 0, len = data.length; i < len; i++){
					if(data[i].lid == type){
						if($.inArray(data[i].tid,typeArr) == -1){
							typeArr.push(data[i].tid);
							temp += '<span data-type="'+data[i].tid+'">'+data[i].ttxt+'</span>';
						}
					}
				}
				list.html(temp);
			}
		})
		// 选择等级
		$('.js_lang_lv').click(function(){
			var data = parseData(),
				type = $('.js_lang_target').find('input').val(),
				list = $(this).find('.sim-select-list'),
				ele = $('.js_trans_price'),
				price = {},
				typeArr = [],
				temp = '';
			if(type == ''){
				alert('请选择目标语言');
			}else{
				for(var i = 0, len = data.length; i < len; i++){
					if(data[i].tid == type){
						if($.inArray(data[i].lvid,typeArr) == -1){
							typeArr.push(data[i].lvid);
							price[data[i].id] = data[i].price;
							temp += '<span data-type="'+data[i].id+'">'+data[i].lvtxt+'</span>';
						}
					}
				}
				list.html(temp);
			}
			ele.text(price[$(this).find('input').val()]);
		})
		// 重置select
		$('.js_lang_type').on('click','.sim-select-list span',function(){
			resetSelect($('.js_lang_source'));
			resetSelect($('.js_lang_target'));
			resetSelect($('.js_lang_lv'));
			$('.js_trans_price').text('0');
		})
		$('.js_lang_source').on('click','.sim-select-list span',function(){
			resetSelect($('.js_lang_target'));
			resetSelect($('.js_lang_lv'));
			$('.js_trans_price').text('0');
		})
		$('.js_lang_target').on('click','.sim-select-list span',function(){
			resetSelect($('.js_lang_lv'));
			$('.js_trans_price').text('0');
		})
		$('.js_fancybox a').fancybox();
		/*$('.js_ajax_select_LH').on('change',function(){
			var select = $(this).val();
			var radio  = $('.js_ajax_radio_LH input:checked').val()||'all';
			$('.js_comments_sort').val(select+'&'+radio);
			$.post("<?=U()?>",{select:select,radio:radio,shop_id:<?=I('shop_id')?>},function(data){
				$('.comment_list_ajax_LH').html(data);
			});
		})
		$('.js_ajax_radio_LH input').on('click',function(){
			var select = $('.js_ajax_select_LH').val();
			var radio  = $(this).val();
			$('.js_comments_sort').val(select+'&'+radio);
			$.post("<?=U()?>",{select:select,radio:radio,shop_id:<?=I('shop_id')?>},function(data){
				$('.comment_list_ajax_LH').html(data);
			});
		})*/
		//点击切换图片
		$('.pic_list_yqc li').click(function(){
            $('.big_pic_box').attr('data-i',$(this).index());
			$('.pic_list_yqc li').removeClass('active');
			$(this).addClass('active');
            //将小图设置为大图
            slideImg($(this));
		});
        //点击载入下一张图片
        $('.big_pic_box span').click(function(){
            var _index = +$(this).parent().attr('data-i') || 0,
                _len   = $('.pic_list_yqc li').length,
                _perlg = $('.pic_list_yqc li').eq(0).outerWidth(true),
                _max   = $('.pic_list_yqc .tempWrap').width() - $('.pic_list_yqc ul').width(),
                _cur   = parseInt($('.pic_list_yqc ul').css('left'));
            //上一张
            if($(this).hasClass('prev')){
                _index = _index - 1 <= 0 ? 0 : _index - 1;
                _cur = _cur + _perlg >= 0 ? 0 : _cur + _perlg;
            //下一张
            }else if($(this).hasClass('next')){
                _index = _index + 1 >= _len - 1 ? _len - 1 : _index + 1;
                _cur = _cur - _perlg <= _max ? _max : _cur - _perlg;
            }
            //小图跟随主图滚动
            $('.pic_list_yqc ul').css({left: _cur});
            //将小图设置为大图
            slideImg($('.pic_list_yqc li').eq(_index));
            $(this).parent().attr('data-i',_index);
        })
		//图片切换
		$(".pic_list_yqc").slide({
			mainCell:"ul",
			delayTime:100,
			vis:5,
			effect:"left",
			autoPage:true,
			prevCell:".prev",
			nextCell:".next"
		});
        //将小图设置为大图
        function slideImg(select){
            //为当前缩略图添加激活类
            select.addClass('active').siblings().removeClass('active');
            //检测视频资源，并载入视频
            if(!!select.find('img').attr('data-type')){
                var video_url = '__ROOT__/'+ select.find('.small_pic img').attr('data-type');
                $('.big_pic_box .big_img').hide();
                $('.big_pic_box .video').show();
                var flashvars={
                    f:video_url,
                    c:0,
                    b:1
                };
                var params={bgcolor:'#aaa',allowFullScreen:true,allowScriptAccess:false,wmode:'transparent'};
                CKobject.embedSWF('__PLUGIN__/ckplayer/ckplayer.swf','a1','ckplayer_a1','700','500',flashvars,params);
                //无视频资源，载入图片
            }else{
                $('.big_pic_box .video').hide();
                $('.big_pic_box .big_img').show().children('img').attr('src', select.find('.small_pic img').attr('src'));
            }
            $('.big_pic_box p').html(select.find('p').text());
        }
	})
	</script>
    <!--bottom box E-->
	<include file='Public/shop_sidebar' />
</block>