<extend name="Home@Public/body"/>
<block name="body">
    <css href="__CSS__/classes.css" />
    <div class="container">
        <div class="row">
            <div class="row">
                <!--breadNav S-->
                <ol class="col-xs-9 lan_class_bread_yqc breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li>语言分类</li>
                </ol>
                <!--breadNav E-->
                <div class="col-xs-3 member_count_yqc">共<span class="org">8000</span>位商家<i class="fa fa-angle-up js_condit_ctl"></i></div>
            </div>
            <!-- conditions S-->
            <dl class="dl-horizontal cf_l conditions_yqc">
                <dt>源语言：</dt>
                <dd>
                    <div class="lv1">
                        <a class="active" href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                    </div>
                </dd>
                <dt>目标语言：</dt>
                <dd>
                    <div class="lv1">
                        <a href="#">英语</a>
                        <a class="active" href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                        <a href="#">英语</a>
                    </div>
                </dd>
                <dt>技能：</dt>
                <dd>
                    <div class="lv1">
                        <a class="active" href="#">笔译</a>
                        <a href="#">口译</a>
                        <a href="#">音频翻译</a>
                    </div>
                    <div class="lv2">
                        <p>
                            <strong class="blue">文档用途：</strong>
                            <a class="active" href="#">专业论文</a>
                            <a href="#">专业论文</a>
                            <a href="#">专业论文</a>
                            <a href="#">专业论文</a>
                            <a href="#">专业论文</a>
                        </p>
                        <p>
                            <strong class="blue">领域分类：</strong>
                            <a href="#">专业论文</a>
                            <a href="#">专业论文</a>
                            <a href="#">专业论文</a>
                            <a href="#">专业论文</a>
                            <a href="#">专业论文</a>
                        </p>
                    </div>
                </dd>
                <dt>行业：</dt>
                <dd>
                    <div class="lv1">
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                        <a href="#">医学</a>
                    </div>
                </dd>
                <dt>身份：</dt>
                <dd>
                    <div class="lv1">
                        <a href="#">个人翻译</a>
                        <a href="#">公司翻译</a>
                    </div>
                </dd>
            </dl>
            <!-- conditions E-->
            <div class="row">
                <!-- left content S-->
                <div class="col-xs-9">
                    <ul class="sort_box_yqc nav nav-tabs">
                        <li class="active"><a href="javascript:;">综合排序</a></li>
                        <li><a href="javascript:;">星级</a></li>
                        <li><a href="javascript:;">评价数</a></li>
                        <li class="ml_10">
                            <span>价格</span><input type="text" class="sort_price_input"/>
                            <span>-</span><input type="text" class="sort_price_input"/>
                        </li>
                        <li class="ml_10">
                            <input type="text" class="sort_search_input" placeholder="在结果中搜索"/>
                            <input type="submit" class="btn btn_sort_yqc" value="确定"/>
                        </li>
                        <li class="pull-right">
                            <a href="javascript:;" class="sort_prev"><i class="fa fa-angle-left"></i></a>
                            <span>1/16</span>
                            <a href="javascript:;" class="sort_next"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                    <ul class="company_lists_yqc">
                        <li class="company_item buy recommend clearfix">
                            <i class="recommend_tip"></i>
                            <i class="buy_mark"></i>
                            <div class="item_img_yqc"><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></div>
                            <div class="item_info_yqc clearfix">
                                <div class="item_title col-xs-12">
                                    <a href="#">乐享国际翻译公司</a>
                                    <span class="label label_lang">德语</span>
                                    <span class="label label_lang">西班牙语</span>
                                    <span class="label label_lang">中文</span>
                                    <span class="label label_lang">意大利语</span>
                                    <span class="label label_lang">韩语</span>
                                </div>
                                <div class="item_base_info_yqc col-xs-7">
                                    <p class="desc">学习改变命运，记忆成就梦想！</p>
                                    <p>擅长：<span>英语</span><span>法语</span><span>德语</span><span>日语</span><span>西班牙语</span></p>
                                    <p>身份：公司</p>
                                    <p>译龄：5年<i class="fa fa-map-marker"></i>湖南-常德-桃园</p>
                                </div>
                                <div class="item_deal_info_yqc col-xs-3">
                                    <p><strong class="org f_14">￥：360元</strong>起</p>
                                    <p>126条评价</p>
                                    <p>提供了<strong class="red">258</strong>次服务</p>
                                    <div class="star_progress_yqc"><div class="bar" style="width:100%"></div></div>
                                </div>
                                <div class="item_identify_info_yqc col-xs-2">
                                    <p><i class="icon_identify id"></i>身份认证</p>
                                    <p><i class="icon_identify qua"></i>资质认证</p>
                                </div>
                            </div>
                        </li>
                        <li class="company_item buy recommend clearfix">
                            <i class="recommend_tip"></i>
                            <i class="buy_mark"></i>
                            <div class="item_img_yqc"><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></div>
                            <div class="item_info_yqc clearfix">
                                <div class="item_title col-xs-12">
                                    <a href="#">乐享国际翻译公司</a>
                                    <span class="label label_lang">德语</span>
                                    <span class="label label_lang">西班牙语</span>
                                    <span class="label label_lang">中文</span>
                                    <span class="label label_lang">意大利语</span>
                                    <span class="label label_lang">韩语</span>
                                </div>
                                <div class="item_base_info_yqc col-xs-7">
                                    <p class="desc">学习改变命运，记忆成就梦想！</p>
                                    <p>擅长：<span>英语</span><span>法语</span><span>德语</span><span>日语</span><span>西班牙语</span></p>
                                    <p>身份：公司</p>
                                    <p>译龄：5年<i class="fa fa-map-marker"></i>湖南-常德-桃园</p>
                                </div>
                                <div class="item_deal_info_yqc col-xs-3">
                                    <p><strong class="org f_14">￥：360元</strong>起</p>
                                    <p>126条评价</p>
                                    <p>提供了<strong class="red">258</strong>次服务</p>
                                    <div class="star_progress_yqc"><div class="bar" style="width:80%"></div></div>
                                </div>
                                <div class="item_identify_info_yqc col-xs-2">
                                    <p><i class="icon_identify id"></i>身份认证</p>
                                    <p><i class="icon_identify qua"></i>资质认证</p>
                                </div>
                            </div>
                        </li>
                        <li class="company_item recommend clearfix">
                            <i class="recommend_tip"></i>
                            <i class="buy_mark"></i>
                            <div class="item_img_yqc"><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></div>
                            <div class="item_info_yqc clearfix">
                                <div class="item_title col-xs-12">
                                    <a href="#">乐享国际翻译公司</a>
                                    <span class="label label_lang">德语</span>
                                    <span class="label label_lang">西班牙语</span>
                                    <span class="label label_lang">中文</span>
                                    <span class="label label_lang">意大利语</span>
                                    <span class="label label_lang">韩语</span>
                                </div>
                                <div class="item_base_info_yqc col-xs-7">
                                    <p class="desc">学习改变命运，记忆成就梦想！</p>
                                    <p>擅长：<span>英语</span><span>法语</span><span>德语</span><span>日语</span><span>西班牙语</span></p>
                                    <p>身份：公司</p>
                                    <p>译龄：5年<i class="fa fa-map-marker"></i>湖南-常德-桃园</p>
                                </div>
                                <div class="item_deal_info_yqc col-xs-3">
                                    <p><strong class="org f_14">￥：360元</strong>起</p>
                                    <p>126条评价</p>
                                    <p>提供了<strong class="red">258</strong>次服务</p>
                                    <div class="star_progress_yqc"><div class="bar" style="width:60%"></div></div>
                                </div>
                                <div class="item_identify_info_yqc col-xs-2">
                                    <p><i class="icon_identify id"></i>身份认证</p>
                                    <p><i class="icon_identify qua"></i>资质认证</p>
                                </div>
                            </div>
                        </li>
                        <li class="company_item clearfix">
                            <i class="recommend_tip"></i>
                            <i class="buy_mark"></i>
                            <div class="item_img_yqc"><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></div>
                            <div class="item_info_yqc clearfix">
                                <div class="item_title col-xs-12">
                                    <a href="#">乐享国际翻译公司</a>
                                    <span class="label label_lang">德语</span>
                                    <span class="label label_lang">西班牙语</span>
                                    <span class="label label_lang">中文</span>
                                    <span class="label label_lang">意大利语</span>
                                    <span class="label label_lang">韩语</span>
                                </div>
                                <div class="item_base_info_yqc col-xs-7">
                                    <p class="desc">学习改变命运，记忆成就梦想！</p>
                                    <p>擅长：<span>英语</span><span>法语</span><span>德语</span><span>日语</span><span>西班牙语</span></p>
                                    <p>身份：公司</p>
                                    <p>译龄：5年<i class="fa fa-map-marker"></i>湖南-常德-桃园</p>
                                </div>
                                <div class="item_deal_info_yqc col-xs-3">
                                    <p><strong class="org f_14">￥：360元</strong>起</p>
                                    <p>126条评价</p>
                                    <p>提供了<strong class="red">258</strong>次服务</p>
                                    <div class="star_progress_yqc"><div class="bar" style="width:40%"></div></div>
                                </div>
                                <div class="item_identify_info_yqc col-xs-2">
                                    <p><i class="icon_identify id"></i>身份认证</p>
                                    <p><i class="icon_identify qua"></i>资质认证</p>
                                </div>
                            </div>
                        </li>
                        <li class="company_item buy clearfix">
                            <i class="recommend_tip"></i>
                            <i class="buy_mark"></i>
                            <div class="item_img_yqc"><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></div>
                            <div class="item_info_yqc clearfix">
                                <div class="item_title col-xs-12">
                                    <a href="#">乐享国际翻译公司</a>
                                    <span class="label label_lang">德语</span>
                                    <span class="label label_lang">西班牙语</span>
                                    <span class="label label_lang">中文</span>
                                    <span class="label label_lang">意大利语</span>
                                    <span class="label label_lang">韩语</span>
                                </div>
                                <div class="item_base_info_yqc col-xs-7">
                                    <p class="desc">学习改变命运，记忆成就梦想！</p>
                                    <p>擅长：<span>英语</span><span>法语</span><span>德语</span><span>日语</span><span>西班牙语</span></p>
                                    <p>身份：公司</p>
                                    <p>译龄：5年<i class="fa fa-map-marker"></i>湖南-常德-桃园</p>
                                </div>
                                <div class="item_deal_info_yqc col-xs-3">
                                    <p><strong class="org f_14">￥：360元</strong>起</p>
                                    <p>126条评价</p>
                                    <p>提供了<strong class="red">258</strong>次服务</p>
                                    <div class="star_progress_yqc"><div class="bar" style="width:20%"></div></div>
                                </div>
                                <div class="item_identify_info_yqc col-xs-2">
                                    <p><i class="icon_identify id"></i>身份认证</p>
                                    <p><i class="icon_identify qua"></i>资质认证</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="pager clearfix">
                        <ul class="pull-left">
                            <li><a href="#">上一页</a></li>
                            <li class="on"><a href="#">1</a></li>
                            <li class="hover"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">3</a></li>
                            <li class="more">…</li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">下一页</a></li>
                            <li class="jump"><span>共18页  跳转至</span><input type="text" class="num"/><span>页</span><input type="submit" value="确定" class="btn_pager_jump"/></li>
                        </ul>
                        <a class="pull-right back_top_yqc" href="#"></a>
                    </div>
                </div>
                <!-- left content E-->
                <!-- right content S-->
                <div class="col-xs-3 ie7_md_3">
                    <div class="classes_side_yqc">
                        <!--side login S-->
                        <div class="side_login_box_yqc">
                            <div class="media">
                                <div class="media-left"><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle media-object"/></a></div>
                                <div class="media-body">
                                    <p>hi,</p>
                                    <p>您还没有登录哟~</p>
                                    <a href="#" class="red f_14 bold">登录</a>
                                </div>
                            </div>
                            <div class="btn-group" role="group">
                                <input type="button" class="btn btn_org" value="用户注册" />
                                <input type="button" class="btn btn_org" value="个译注册" />
                                <input type="button" class="btn btn_org" value="公司注册" />
                            </div>
                        </div>
                        <!--side login E-->
                        <!--side fast search S-->
                        <p class="side_title">快速查找翻译</p>
                        <select class="form-control select_yqc">
                            <option>请选择语言</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <select class="form-control select_yqc">
                            <option>请选择译者身份</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <input type="text" class="form-control input_yqc" placeholder="您的姓名"/>
                        <input type="text" class="form-control input_yqc" placeholder="您的手机号码"/>
                        <p class="ta_c phone_num"><i class="fa fa-phone"></i>400-800-88888</p>
                        <input type="button" class="btn btn_search" value="帮我推荐"/>
                        <!--side fast search E-->
                        <!--side viewed S-->
                        <p class="side_title">最近浏览</p>
                        <dl class="viewed_list dl-horizontal">
                            <dt><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></dt>
                            <dd>
                                <a href="#" class="f_14 org">rememberl娜娜</a>
                                <p>提供过3000次翻译服务</p>
                                <p>擅长：英语 法语</p>
                            </dd>
                            <dt><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></dt>
                            <dd>
                                <a href="#" class="f_14 org">rememberl娜娜</a>
                                <p>提供过3000次翻译服务</p>
                                <p>擅长：英语 法语</p>
                            </dd>
                            <dt><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></dt>
                            <dd>
                                <a href="#" class="f_14 org">rememberl娜娜</a>
                                <p>提供过3000次翻译服务</p>
                                <p>擅长：英语 法语</p>
                            </dd>
                            <dt><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></dt>
                            <dd>
                                <a href="#" class="f_14 org">rememberl娜娜</a>
                                <p>提供过3000次翻译服务</p>
                                <p>擅长：英语 法语</p>
                            </dd>
                            <dt><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></dt>
                            <dd>
                                <a href="#" class="f_14 org">rememberl娜娜</a>
                                <p>提供过3000次翻译服务</p>
                                <p>擅长：英语 法语</p>
                            </dd>
                            <dt><a href="#"><img src="__IMG__/company_img.jpg" class="img-circle"/></a></dt>
                            <dd>
                                <a href="#" class="f_14 org">rememberl娜娜</a>
                                <p>提供过3000次翻译服务</p>
                                <p>擅长：英语 法语</p>
                            </dd>
                        </dl>
                        <!--side viewed E-->
                        <!--side common question S-->
                        <p class="side_title top_line">常见问题</p>
                        <ul class="common_question_yqc">
                            <li><a href="#">1、平台流程是怎样的？</a></li>
                            <li><a href="#">2、平台流程是怎样的？</a></li>
                            <li><a href="#">3、平台流程是怎样的？</a></li>
                            <li><a href="#">4、平台流程是怎样的？</a></li>
                            <li><a href="#">5、平台流程是怎样的？</a></li>
                            <li><a href="#">6、平台流程是怎样的？</a></li>
                            <li><a href="#">7、平台流程是怎样的？</a></li>
                            <li><a href="#">8、平台流程是怎样的？</a></li>
                            <li><a href="#">9、平台流程是怎样的？</a></li>
                        </ul>
                        <!--side common question E-->
                    </div>
                </div>
                <!-- right content E-->
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('.js_condit_ctl').click(function(){
                $(this).toggleClass('fa-angle-down');
                $('.conditions_yqc').toggle('');
            })
        })
    </script>
</block>