<extend name="Home@Public/body_wap"/>
<block name="body">
	<div class="content_j">
		<!-- banner切换 S-->
		<div class="index_banner_j" id="banner">
			<ul class="banner_tip">
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ul>
			<div class="banner_wrap">
				<ul>
					<li><a href="#this"><img src="__IMG__/banner.jpg" alt=""></a></li>
					<li><a href="#this"><img src="__IMG__/banner.jpg" alt=""></a></li>
					<li><a href="#this"><img src="__IMG__/banner.jpg" alt=""></a></li>
				</ul>
			</div>
		</div>
		<script>
			TouchSlide({
	            slideCell:"#banner",
	            titCell:".banner_tip", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
	            mainCell:".banner_wrap ul",
	            effect:"leftLoop",
	            autoPlay:true,//自动播放
	            autoPage:true, //自动分页
	        });
		</script>
		<!-- banner切换 E-->

		<!-- country S-->
		<div class="content_j text-center">
			<ul class="country_j clearfix">
				<li>
					<a href="#this">
						<div class="circle bg_ch"></div>
						<div class="text">中国</div>
					</a>
				</li>
				<li>
					<a href="#this">
						<div class="circle bg_en"></div>
						<div class="text">英国</div>
					</a>
				</li>
				<li>
					<a href="#this">
						<div class="circle bg_fr"></div>
						<div class="text">法国</div>
					</a>
				</li>
				<li>
					<a href="#this">
						<div class="circle bg_sp"></div>
						<div class="text">西班牙</div>
					</a>
				</li>
				<li>
					<a href="#this">
						<div class="circle bg_ge"></div>
						<div class="text">德国</div>
					</a>
				</li>
				<li>
					<a href="#this">
						<div class="circle bg_jp"></div>
						<div class="text">日本</div>
					</a>
				</li>
				<li>
					<a href="#this">
						<div class="circle bg_ko"></div>
						<div class="text">韩国</div>
					</a>
				</li>
				<li>
					<a href="#this">
						<div class="circle bg_more"></div>
						<div class="text">更多</div>
					</a>
				</li>
			</ul>
		</div>
		<!-- country E-->

		<!-- 翻译种类 S-->
		<ul class="fanyi_j clearfix">
			<li><a href="#this"><img src="__IMG__/fanyi_bg1.jpg"></a></li>
			<li><a href="#this"><img src="__IMG__/fanyi_bg2.jpg"></a></li>
			<li><a href="#this"><img src="__IMG__/fanyi_bg3.jpg"></a></li>
			<li><a href="#this"><img src="__IMG__/fanyi_bg4.jpg"></a></li>
		</ul>
		<!-- 翻译种类 E-->

		<!-- 商家 S-->
		<div class="index_title fh f16"><span>优质商家</span></div>
		<ul class="seller_list fh">
			<li>
				<img src="__IMG__/newsList_nb.jpg">
				<h5 class="clearfix">
					<span class="pull-right f12">[上海 黄浦]</span>
					<a href="#this" class="blue">跨世纪翻译公司</a>
				</h5>
				<p class="f12">
					<span class="mr_15"><i class="fa fa-microphone"></i>900小时</span>
					<span><i class="fa fa-pencil-square-o"></i>60万字</span>
				</p>
				<p class="f14 org">共提供过3000次服务</p>
				<p class="f12">擅长：英语  法语</p>
			</li>
			<li>
				<img src="__IMG__/newsList_nb.jpg">
				<h5 class="clearfix">
					<span class="pull-right f12">[上海 黄浦]</span>
					<a href="#this" class="blue">跨世纪翻译公司</a>
				</h5>
				<p class="f12">
					<span class="mr_15"><i class="fa fa-microphone"></i>900小时</span>
					<span><i class="fa fa-pencil-square-o"></i>60万字</span>
				</p>
				<p class="f14 org">共提供过3000次服务</p>
				<p class="f12">擅长：英语  法语</p>
			</li>
			<li>
				<img src="__IMG__/newsList_nb.jpg">
				<h5 class="clearfix">
					<span class="pull-right f12">[上海 黄浦]</span>
					<a href="#this" class="blue">跨世纪翻译公司</a>
				</h5>
				<p class="f12">
					<span class="mr_15"><i class="fa fa-microphone"></i>900小时</span>
					<span><i class="fa fa-pencil-square-o"></i>60万字</span>
				</p>
				<p class="f14 org">共提供过3000次服务</p>
				<p class="f12">擅长：英语  法语</p>
			</li>
			<li>
				<img src="__IMG__/newsList_nb.jpg">
				<h5 class="clearfix">
					<span class="pull-right f12">[上海 黄浦]</span>
					<a href="#this" class="blue">跨世纪翻译公司</a>
				</h5>
				<p class="f12">
					<span class="mr_15"><i class="fa fa-microphone"></i>900小时</span>
					<span><i class="fa fa-pencil-square-o"></i>60万字</span>
				</p>
				<p class="f14 org">共提供过3000次服务</p>
				<p class="f12">擅长：英语  法语</p>
			</li>
		</ul>
		<!-- 商家 E-->
	</div>
</block>