<extend name="Home@Public/body"/>
<block name="body">
	<div class="container">
		<div class="row m_tb_20">
 	<!-- leftMenu S-->
 		<div class="col-xs-2">
 			<div class="border_1 left_menu">
	 			<ul>
	 				<li><i class="fa fa-folder-open m_lr_5"></i>关于N邦 <i class="fa fa-angle-right ml_30"></i></li>
	 				<li class="active"><i class="fa fa-folder-open m_lr_5"></i>法律声明<i class="fa fa-angle-right ml_30"></i></li>
	 				<li><i class="fa fa-folder-open m_lr_5"></i>法律声明<i class="fa fa-angle-right ml_30"></i></li>
	 				<li><i class="fa fa-folder-open m_lr_5"></i>诚聘英才<i class="fa fa-angle-right ml_30"></i></li>
	 				<li><i class="fa fa-folder-open m_lr_5"></i>平台流程<i class="fa fa-angle-right ml_30"></i></li>
	 				<li><i class="fa fa-folder-open m_lr_5"></i>客服中心<i class="fa fa-angle-right ml_30"></i></li>
	 			</ul>
 			</div>
 		</div>
 	<!-- leftMenu E-->
 	<!-- rightContent S-->
 		<div class="col-xs-10 border_1 right_content">
				<div class="dataset_title clearfix f_16 mt_20"><span>法律声明</span><i></i></div>
				<p class="f_14">
				2015年6月21日，由中国最大的O2O找好老师学习服务电商平台“N邦翻译”主办的“2015‘N邦翻译’赢在校园——职场精英挑战赛”在北京中关村软件园会议中心圆满落幕！经63天，有231所高校大学生参加比赛，5435名大学生报名，数万名大学生通过跟谁学平台参与投票，覆盖大学生120万人，同时也受到了社会各界的关注。
　　本次大赛是面向全国200所重点院校大学生的职场技能考核赛事，旨在搭建一个展示大学生求职能力及软实力的平台，同时为企业选拔优秀的人才。大赛模拟用人单位在招聘过程中的简历制作、笔试、压力面试等相关职场技能考核环节，让大学生更加真实地了解企业选拔人才的标准、了解企业中真实的工作内容，同时在大赛过程中明确自己的优势和不足，帮助中国大学生认识自己的未来职场发展之路，切实帮助大学生自信求职、成功就业。  
　　6月19日，为期3天的“2015‘跟谁学’赢在校园——职场精英挑战”总决赛拉开帷幕。来自包括北京化工大学、北京体育大学、中国海洋大学、湖北工业大学、大连大学等全国各地高校的60名优秀大学生齐聚北京，跟谁学总裁助理徐科和选手们分享了跟谁学的创业过程，鼓励同学们勇于挑战自我，努力成为A+人才。
2015年6月21日，由中国最大的O2O找好老师学习服务电商平台“N邦翻译”主办的“2015‘N邦翻译’赢在校园——职场精英挑战赛”在北京中关村软件园会议中心圆满落幕！经63天，有231所高校大学生参加比赛，5435名大学生报名，数万名大学生通过跟谁学平台参与投票，覆盖大学生120万人，同时也受到了社会各界的关注。
　　本次大赛是面向全国200所重点院校大学生的职场技能考核赛事，旨在搭建一个展示大学生求职能力及软实力的平台，同时为企业选拔优秀的人才。大赛模拟用人单位在招聘过程中的简历制作、笔试、压力面试等相关职场技能考核环节，让大学生更加真实地了解企业选拔人才的标准、了解企业中真实的工作内容，同时在大赛过程中明确自己的优势和不足，帮助中国大学生认识自己的未来职场发展之路，切实帮助大学生自信求职、成功就业。  
　　6月19日，为期3天的“2015‘跟谁学’赢在校园——职场精英挑战”总决赛拉开帷幕。来自包括北京化工大学、北京体育大学、中国海洋大学、湖北工业大学、大连大学等全国各地高校的60名优秀大学生齐聚北京，跟谁学总裁助理徐科和选手们分享了跟谁学的创业过程，鼓励同学们勇于挑战自我，努力成为A+人才。
				</p>
 		</div>
 	<!-- rightContent E-->
		</div>
	</div>
</block>
<block name="script">
	<script type="text/javascript">
	change(".left_menu li");
	</script>
</block>